## Import Packages

In [1]:
import pandas as pd
import numpy as np
import pathlib
import calendar
import pickle

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Read Whole Big Dataframe

In [2]:
df1 = pd.read_pickle('df_all.pkl')

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5754574 entries, 0 to 5754573
Data columns (total 24 columns):
 #   Column            Dtype
---  ------            -----
 0   SITE_NUMBER       object
 1   OBSERVATION_TIME  datetime64[ns, UTC]
 2   REF_TEMP          float64
 3   AMBIENT_AIR_TEMP  float64
 4   IN_PAVEMENT_TEMP  float64
 5   INTERNAL_TEMP     float64
 6   BATTERY_VOLTAGE   float64
 7   TMR_PAV           float64
 8   TMR_SUB_0         float64
 9   TMR_SUB_3         float64
 10  TMR_SUB_6         float64
 11  TMR_SUB_9         float64
 12  TMR_SUB_12        float64
 13  TMR_SUB_18        float64
 14  TMR_SUB_24        float64
 15  TMR_SUB_30        float64
 16  TMR_SUB_36        float64
 17  TMR_SUB_42        float64
 18  TMR_SUB_48        float64
 19  TMR_SUB_54        float64
 20  TMR_SUB_60        float64
 21  TMR_SUB_66        float64
 22  TMR_SUB_72        float64
 23  TIMEZONE_FLAG     object
dtypes: datetime64[ns, UTC](1), float64(21), object(2)
memory usage: 1.0+ GB

In [9]:
df1 = df1.drop(['REF_TEMP',
                'IN_PAVEMENT_TEMP',
                'INTERNAL_TEMP',
                'BATTERY_VOLTAGE',
                'TIMEZONE_FLAG'], axis=1)

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5754574 entries, 0 to 5754573
Data columns (total 19 columns):
 #   Column            Dtype
---  ------            -----
 0   SITE_NUMBER       object
 1   OBSERVATION_TIME  datetime64[ns, UTC]
 2   AMBIENT_AIR_TEMP  float64
 3   TMR_PAV           float64
 4   TMR_SUB_0         float64
 5   TMR_SUB_3         float64
 6   TMR_SUB_6         float64
 7   TMR_SUB_9         float64
 8   TMR_SUB_12        float64
 9   TMR_SUB_18        float64
 10  TMR_SUB_24        float64
 11  TMR_SUB_30        float64
 12  TMR_SUB_36        float64
 13  TMR_SUB_42        float64
 14  TMR_SUB_48        float64
 15  TMR_SUB_54        float64
 16  TMR_SUB_60        float64
 17  TMR_SUB_66        float64
 18  TMR_SUB_72        float64
dtypes: datetime64[ns, UTC](1), float64(17), object(1)
memory usage: 834.2+ MB

## TODO
### simplify timestamp
### - filter to hours only
### set date to index

In [30]:
df1_small = df1.head(17520)

In [39]:
df1.head()

,SITE_NUMBER,OBSERVATION_TIME,REF_TEMP,AMBIENT_AIR_TEMP,IN_PAVEMENT_TEMP,INTERNAL_TEMP,BATTERY_VOLTAGE,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,TIMEZONE_FLAG
0,110,2002-04-16 19:00:00+00:00,49.36,35.45,32.0,32.0,12.75,75.40,78.70,81.00,83.00,84.30,85.70,86.40,87.40,88.50,89.10,89.80,90.50,91.10,91.70,92.20,93.00,
1,110,2002-04-16 20:00:00+00:00,56.15,34.99,32.0,32.0,12.76,33.32,49.20,58.37,63.12,66.61,69.47,71.70,73.60,75.10,76.20,77.40,77.90,79.00,79.70,80.50,81.00,
2,110,2002-04-16 21:00:00+00:00,43.97,36.09,32.0,32.0,12.72,53.76,62.26,67.21,71.20,73.70,75.70,77.30,78.90,79.90,81.20,81.80,82.60,83.40,84.00,84.60,85.40,
3,110,2002-04-16 22:00:00+00:00,43.52,36.38,32.0,32.0,13.58,39.76,30.97,30.90,30.55,30.41,30.41,30.48,30.69,31.59,31.86,32.21,32.41,32.61,33.02,33.69,34.02,
4,110,2002-04-16 23:00:00+00:00,48.02,37.47,32.0,32.0,13.59,42.89,30.98,30.90,30.62,30.41,30.34,30.41,30.69,31.53,31.87,32.21,32.34,32.69,33.02,33.62,34.02,

In [31]:
df1_small_ind = df1_small.set_index(['SITE_NUMBER', 'OBSERVATION_TIME']).sort_index()

In [19]:
df1_small_ind.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 17520 entries, ('110', Timestamp('2002-04-16 19:00:00+0000', tz='UTC')) to ('122', Timestamp('2003-11-26 18:00:00+0000', tz='UTC'))
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   REF_TEMP          17520 non-null  float64
 1   AMBIENT_AIR_TEMP  17520 non-null  float64
 2   IN_PAVEMENT_TEMP  17520 non-null  float64
 3   INTERNAL_TEMP     17520 non-null  float64
 4   BATTERY_VOLTAGE   17520 non-null  float64
 5   TMR_PAV           17520 non-null  float64
 6   TMR_SUB_0         17520 non-null  float64
 7   TMR_SUB_3         17520 non-null  float64
 8   TMR_SUB_6         17520 non-null  float64
 9   TMR_SUB_9         17520 non-null  float64
 10  TMR_SUB_12        17520 non-null  float64
 11  TMR_SUB_18        17520 non-null  float64
 12  TMR_SUB_24        17520 non-null  float64
 13  TMR_SUB_30        17520 non-null  float64
 14  TMR_SUB_36        17520 non-null  float64
 15  TMR_SUB_42        17520 non-null  float64
 16  TMR_SUB_48        17520 non-null  float64
 17  TMR_SUB_54        17520 non-null  float64
 18  TMR_SUB_60        17520 non-null  float64
 19  TMR_SUB_66        17520 non-null  float64
 20  TMR_SUB_72        17520 non-null  float64
 21  TIMEZONE_FLAG     17520 non-null  object
dtypes: float64(21), object(1)
memory usage: 3.6+ MB

In [35]:
df1_small_122 = df1_small_ind.loc[('110'): ('2003'), 'TMR_SUB_18']
df1_small_122.head()

SITE_NUMBER  OBSERVATION_TIME
110          2002-04-16 19:00:00+00:00    86.40
             2002-04-16 20:00:00+00:00    71.70
             2002-04-16 21:00:00+00:00    77.30
             2002-04-16 22:00:00+00:00    30.48
             2002-04-16 23:00:00+00:00    30.41
Name: TMR_SUB_18, dtype: float64

In [25]:
df1_small_122.index[0][0]

'122'

In [36]:
import sys
df1_small_ind.size

385440

In [48]:
df1_small_group = df1_small.groupby(['SITE_NUMBER', 'OBSERVATION_TIME'])
df1_small_group.size

In [63]:
type(df1_small_group.groups)

pandas.io.formats.printing.PrettyDict

In [41]:
df1_small_ind.head()

                                       REF_TEMP  AMBIENT_AIR_TEMP  \
SITE_NUMBER OBSERVATION_TIME
110         2002-04-16 19:00:00+00:00     49.36             35.45
            2002-04-16 20:00:00+00:00     56.15             34.99
            2002-04-16 21:00:00+00:00     43.97             36.09
            2002-04-16 22:00:00+00:00     43.52             36.38
            2002-04-16 23:00:00+00:00     48.02             37.47

                                       IN_PAVEMENT_TEMP  INTERNAL_TEMP  \
SITE_NUMBER OBSERVATION_TIME
110         2002-04-16 19:00:00+00:00              32.0           32.0
            2002-04-16 20:00:00+00:00              32.0           32.0
            2002-04-16 21:00:00+00:00              32.0           32.0
            2002-04-16 22:00:00+00:00              32.0           32.0
            2002-04-16 23:00:00+00:00              32.0           32.0

                                       BATTERY_VOLTAGE  TMR_PAV  TMR_SUB_0  \
SITE_NUMBER OBSERVATION_TIME
110         2002-04-16 19:00:00+00:00            12.75    75.40      78.70
            2002-04-16 20:00:00+00:00            12.76    33.32      49.20
            2002-04-16 21:00:00+00:00            12.72    53.76      62.26
            2002-04-16 22:00:00+00:00            13.58    39.76      30.97
            2002-04-16 23:00:00+00:00            13.59    42.89      30.98

                                       TMR_SUB_3  TMR_SUB_6  TMR_SUB_9  \
SITE_NUMBER OBSERVATION_TIME
110         2002-04-16 19:00:00+00:00      81.00      83.00      84.30
            2002-04-16 20:00:00+00:00      58.37      63.12      66.61
            2002-04-16 21:00:00+00:00      67.21      71.20      73.70
            2002-04-16 22:00:00+00:00      30.90      30.55      30.41
            2002-04-16 23:00:00+00:00      30.90      30.62      30.41

                                       TMR_SUB_12  TMR_SUB_18  TMR_SUB_24  \
SITE_NUMBER OBSERVATION_TIME
110         2002-04-16 19:00:00+00:00       85.70       86.40       87.40
            2002-04-16 20:00:00+00:00       69.47       71.70       73.60
            2002-04-16 21:00:00+00:00       75.70       77.30       78.90
            2002-04-16 22:00:00+00:00       30.41       30.48       30.69
            2002-04-16 23:00:00+00:00       30.34       30.41       30.69

                                       TMR_SUB_30  TMR_SUB_36  TMR_SUB_42  \
SITE_NUMBER OBSERVATION_TIME
110         2002-04-16 19:00:00+00:00       88.50       89.10       89.80
            2002-04-16 20:00:00+00:00       75.10       76.20       77.40
            2002-04-16 21:00:00+00:00       79.90       81.20       81.80
            2002-04-16 22:00:00+00:00       31.59       31.86       32.21
            2002-04-16 23:00:00+00:00       31.53       31.87       32.21

                                       TMR_SUB_48  TMR_SUB_54  TMR_SUB_60  \
SITE_NUMBER OBSERVATION_TIME
110         2002-04-16 19:00:00+00:00       90.50       91.10       91.70
            2002-04-16 20:00:00+00:00       77.90       79.00       79.70
            2002-04-16 21:00:00+00:00       82.60       83.40       84.00
            2002-04-16 22:00:00+00:00       32.41       32.61       33.02
            2002-04-16 23:00:00+00:00       32.34       32.69       33.02

                                       TMR_SUB_66  TMR_SUB_72 TIMEZONE_FLAG
SITE_NUMBER OBSERVATION_TIME
110         2002-04-16 19:00:00+00:00       92.20       93.00
            2002-04-16 20:00:00+00:00       80.50       81.00
            2002-04-16 21:00:00+00:00       84.60       85.40
            2002-04-16 22:00:00+00:00       33.69       34.02
            2002-04-16 23:00:00+00:00       33.62       34.02

## Set SITE_NUMBER and OBSERVATION_TIME to Indexes (this process takes forever - just read the pickle created on a real computer)

In [5]:
# df1_ind = df1.set_index(['SITE_NUMBER', 'OBSERVATION_TIME'])

#df1_ind = df1.set_index(['SITE_NUMBER', 'OBSERVATION_TIME']).sort_index()

df1_ind = pd.read_pickle('df_all_ind.pkl')

In [6]:
df1_ind.head()

                                       REF_TEMP  AMBIENT_AIR_TEMP  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00   -9999.0             23.72
            2007-03-27 02:00:00+00:00   -9999.0             23.90
            2007-03-27 03:00:00+00:00   -9999.0             19.94
            2007-03-27 04:00:00+00:00   -9999.0             10.58
            2007-03-27 05:00:00+00:00   -9999.0              6.62

                                       IN_PAVEMENT_TEMP  INTERNAL_TEMP  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00             38.30        -9999.0
            2007-03-27 02:00:00+00:00             33.26        -9999.0
            2007-03-27 03:00:00+00:00             24.26        -9999.0
            2007-03-27 04:00:00+00:00             16.34        -9999.0
            2007-03-27 05:00:00+00:00             11.30        -9999.0

                                       BATTERY_VOLTAGE  TMR_PAV  TMR_SUB_0  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00          -9999.0    10.58       9.68
            2007-03-27 02:00:00+00:00          -9999.0    10.58       9.86
            2007-03-27 03:00:00+00:00          -9999.0     9.86       9.68
            2007-03-27 04:00:00+00:00          -9999.0     8.96       8.96
            2007-03-27 05:00:00+00:00          -9999.0     8.06       8.24

                                       TMR_SUB_3  TMR_SUB_6  TMR_SUB_9  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00       8.42       7.88       7.88
            2007-03-27 02:00:00+00:00       8.96       8.24       8.24
            2007-03-27 03:00:00+00:00       9.14       8.60       8.42
            2007-03-27 04:00:00+00:00       9.14       8.96       8.78
            2007-03-27 05:00:00+00:00       8.78       8.96       8.96

                                       TMR_SUB_12  TMR_SUB_18  TMR_SUB_24  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00        8.42        9.86       11.12
            2007-03-27 02:00:00+00:00        8.42       10.04       11.12
            2007-03-27 03:00:00+00:00        8.78        9.86       10.94
            2007-03-27 04:00:00+00:00        8.96        9.86       10.94
            2007-03-27 05:00:00+00:00        8.96        9.86       10.94

                                       TMR_SUB_30  TMR_SUB_36  TMR_SUB_42  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00       12.38       13.10        14.0
            2007-03-27 02:00:00+00:00       12.38       13.28        14.0
            2007-03-27 03:00:00+00:00       12.20       13.10        14.0
            2007-03-27 04:00:00+00:00       12.20       13.10        14.0
            2007-03-27 05:00:00+00:00       12.20       13.10        14.0

                                       TMR_SUB_48  TMR_SUB_54  TMR_SUB_60  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00       14.54       15.44       16.52
            2007-03-27 02:00:00+00:00       14.72       15.62       16.52
            2007-03-27 03:00:00+00:00       14.72       15.44       16.52
            2007-03-27 04:00:00+00:00       14.72       15.62       16.52
            2007-03-27 05:00:00+00:00       14.72       15.62       16.52

                                       TMR_SUB_66  TMR_SUB_72 TIMEZONE_FLAG
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00       17.42       18.14
            2007-03-27 02:00:00+00:00       17.60       18.32
            2007-03-27 03:00:00+00:00       17.42       18.14
            2007-03-27 04:00:00+00:00       17.42       18.32
            2007-03-27 05:00:00+00:00       17.42       18.32

In [7]:
df1_ind.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 5754574 entries, ('101', Timestamp('2007-03-27 01:00:00+0000', tz='UTC')) to ('8', Timestamp('2017-12-31 23:00:00+0000', tz='UTC'))
Data columns (total 22 columns):
 #   Column            Dtype
---  ------            -----
 0   REF_TEMP          float64
 1   AMBIENT_AIR_TEMP  float64
 2   IN_PAVEMENT_TEMP  float64
 3   INTERNAL_TEMP     float64
 4   BATTERY_VOLTAGE   float64
 5   TMR_PAV           float64
 6   TMR_SUB_0         float64
 7   TMR_SUB_3         float64
 8   TMR_SUB_6         float64
 9   TMR_SUB_9         float64
 10  TMR_SUB_12        float64
 11  TMR_SUB_18        float64
 12  TMR_SUB_24        float64
 13  TMR_SUB_30        float64
 14  TMR_SUB_36        float64
 15  TMR_SUB_42        float64
 16  TMR_SUB_48        float64
 17  TMR_SUB_54        float64
 18  TMR_SUB_60        float64
 19  TMR_SUB_66        float64
 20  TMR_SUB_72        float64
 21  TIMEZONE_FLAG     object
dtypes: float64(21), object(1)
memory usage: 998.3+ MB

## Pickle new DF

In [23]:
#filename = "df_all_ind.pkl"
#df1_ind.to_pickle(filename)

## Sort Indexes

In [9]:
df1_srt = df1_ind.sort_index()

## Slice DF to display only station 128 (Works, but does not display station # on left)

In [10]:
df128_ind = df1_srt.loc['128']

In [11]:
df128_ind.head()

,REF_TEMP,AMBIENT_AIR_TEMP,IN_PAVEMENT_TEMP,INTERNAL_TEMP,BATTERY_VOLTAGE,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,TIMEZONE_FLAG
OBSERVATION_TIME,,,,,,,,,,,,,,,,,,,,,,
2003-01-31 02:00:00+00:00,43.67,31.31,45.716,43.650,13.87,31.93,31.85,31.57,31.07,31.07,31.00,30.72,30.86,31.43,31.43,31.92,33.03,33.73,34.41,34.88,35.02,0
2003-01-31 03:00:00+00:00,41.32,34.11,41.902,41.333,13.93,31.37,32.07,32.14,31.51,30.94,31.23,30.80,30.80,31.09,31.51,32.07,32.42,33.60,34.08,34.76,35.10,0
2003-01-31 04:00:00+00:00,40.24,32.83,40.456,40.273,13.95,30.87,31.79,31.58,31.30,31.16,30.87,30.52,30.66,30.94,31.51,32.14,32.21,33.74,34.22,34.63,35.30,0
2003-01-31 05:00:00+00:00,39.30,32.47,39.465,39.355,13.97,31.37,32.15,31.79,31.51,31.37,31.02,30.80,30.80,31.02,31.23,31.73,32.50,33.54,34.29,34.83,35.30,0
2003-01-31 06:00:00+00:00,38.83,33.89,38.813,38.833,13.97,31.38,32.01,31.80,31.73,31.37,30.80,30.52,30.59,30.87,31.80,32.15,32.64,33.61,34.29,34.83,35.17,0

In [12]:
df128_ind.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 110581 entries, 2003-01-31 02:00:00+00:00 to 2017-12-31 23:00:00+00:00
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   REF_TEMP          110581 non-null  float64
 1   AMBIENT_AIR_TEMP  110581 non-null  float64
 2   IN_PAVEMENT_TEMP  110581 non-null  float64
 3   INTERNAL_TEMP     110581 non-null  float64
 4   BATTERY_VOLTAGE   110581 non-null  float64
 5   TMR_PAV           110581 non-null  float64
 6   TMR_SUB_0         110581 non-null  float64
 7   TMR_SUB_3         110581 non-null  float64
 8   TMR_SUB_6         110581 non-null  float64
 9   TMR_SUB_9         110581 non-null  float64
 10  TMR_SUB_12        110581 non-null  float64
 11  TMR_SUB_18        110581 non-null  float64
 12  TMR_SUB_24        110581 non-null  float64
 13  TMR_SUB_30        110581 non-null  float64
 14  TMR_SUB_36        110581 non-null  float64
 15  TMR_SUB_42        110581 non-null  float64
 16  TMR_SUB_48        110581 non-null  float64
 17  TMR_SUB_54        110581 non-null  float64
 18  TMR_SUB_60        110581 non-null  float64
 19  TMR_SUB_66        110581 non-null  float64
 20  TMR_SUB_72        110581 non-null  float64
 21  TIMEZONE_FLAG     110581 non-null  object
dtypes: float64(21), object(1)
memory usage: 19.4+ MB

## Slice DF to display only station 128 and 2014 values (does not seem to slice to only 2014, and seems to include other station #'s)

In [15]:
# df128_14 = df1_ind.loc[('128'): ('2014')]
df128_14 = df1_ind

In [16]:
df128_14.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 5754574 entries, ('101', Timestamp('2007-03-27 01:00:00+0000', tz='UTC')) to ('8', Timestamp('2017-12-31 23:00:00+0000', tz='UTC'))
Data columns (total 22 columns):
 #   Column            Dtype
---  ------            -----
 0   REF_TEMP          float64
 1   AMBIENT_AIR_TEMP  float64
 2   IN_PAVEMENT_TEMP  float64
 3   INTERNAL_TEMP     float64
 4   BATTERY_VOLTAGE   float64
 5   TMR_PAV           float64
 6   TMR_SUB_0         float64
 7   TMR_SUB_3         float64
 8   TMR_SUB_6         float64
 9   TMR_SUB_9         float64
 10  TMR_SUB_12        float64
 11  TMR_SUB_18        float64
 12  TMR_SUB_24        float64
 13  TMR_SUB_30        float64
 14  TMR_SUB_36        float64
 15  TMR_SUB_42        float64
 16  TMR_SUB_48        float64
 17  TMR_SUB_54        float64
 18  TMR_SUB_60        float64
 19  TMR_SUB_66        float64
 20  TMR_SUB_72        float64
 21  TIMEZONE_FLAG     object
dtypes: float64(21), object(1)
memory usage: 998.3+ MB

## Slice DF to display station 128, 2014 and TMR_SUB_18 values (works but does not slice time period specified) (does not return .info() for some reason)

In [23]:
df128_14_sub18 = df1_ind.loc[('128'): ('2007-03-27'), 'TMR_SUB_18']

In [24]:
df128_14_sub18.head()

SITE_NUMBER  OBSERVATION_TIME
128          2003-01-31 02:00:00+00:00    30.72
             2003-01-31 03:00:00+00:00    30.80
             2003-01-31 04:00:00+00:00    30.52
             2003-01-31 05:00:00+00:00    30.80
             2003-01-31 06:00:00+00:00    30.52
Name: TMR_SUB_18, dtype: float64

In [25]:
df128_14_sub18.info()

AttributeError: 'Series' object has no attribute 'info'

In [29]:
df128_14_sub18.to_csv('df128_14_sub18.csv')

## More Thoughts
### - index Obs Time only?
### - reverse heirarchy with Obs Time first, then Station # second?
### -

In [ ]:
# filename = "df_128_all_18.pkl"
filename = "df_128.pkl"
df_128.to_pickle(filename)