## Import Packages

In [1]:
import pandas as pd
import numpy as np
import pathlib
import calendar
import pickle

## Read .csv

In [2]:
#df1 = pd.read_pickle('tdp_ind.pkl')

df1 = pd.read_csv('tdp_ind.csv', infer_datetime_format=True)

# work on preserving site number as object
# rerun date time function

## Configure Date Time

In [3]:
df1.OBSERVATION_TIME = pd.to_datetime(df1.OBSERVATION_TIME)

## Set MultiIndex

In [4]:
df1 = df1.set_index(['SITE_NUMBER', 'OBSERVATION_TIME'])

# datetimeindex = pd.to_datetime(df1.index.levels[1])

## Sort Index Values

In [5]:
# sort_index arranges index values in ascending order
  
df1 = df1.sort_index(level=0)

## Check Dataframe

In [6]:
df1

                                       AMBIENT_AIR_TEMP  TMR_PAV  TMR_SUB_0  \
SITE_NUMBER OBSERVATION_TIME
8           2004-01-18 01:00:00+00:00            -33.90   -24.20     -22.40
            2004-01-18 02:00:00+00:00            -34.80   -24.50     -22.70
            2004-01-18 03:00:00+00:00            -35.70   -24.90     -23.10
            2004-01-18 04:00:00+00:00            -36.00   -25.10     -23.30
            2004-01-18 05:00:00+00:00            -35.90   -25.20     -23.40
...                                                 ...      ...        ...
323         2017-12-31 19:00:00+00:00             22.30    22.80      21.14
            2017-12-31 20:00:00+00:00             22.42    22.41      21.13
            2017-12-31 21:00:00+00:00             22.58    22.20      21.07
            2017-12-31 22:00:00+00:00             21.94    22.04      21.00
            2017-12-31 23:00:00+00:00             21.80    21.83      20.92

                                       TMR_SUB_3  TMR_SUB_6  TMR_SUB_9  \
SITE_NUMBER OBSERVATION_TIME
8           2004-01-18 01:00:00+00:00     -14.80     -11.60      -7.96
            2004-01-18 02:00:00+00:00     -15.20     -12.10      -8.14
            2004-01-18 03:00:00+00:00     -15.50     -12.10      -8.32
            2004-01-18 04:00:00+00:00     -15.90     -12.60      -8.68
            2004-01-18 05:00:00+00:00     -16.10     -12.60      -8.86
...                                          ...        ...        ...
323         2017-12-31 19:00:00+00:00      21.49      21.94      22.56
            2017-12-31 20:00:00+00:00      21.55      22.03      22.65
            2017-12-31 21:00:00+00:00      21.58      22.11      22.73
            2017-12-31 22:00:00+00:00      21.58      22.16      22.80
            2017-12-31 23:00:00+00:00      21.57      22.20      22.85

                                       TMR_SUB_12  TMR_SUB_18  TMR_SUB_24  \
SITE_NUMBER OBSERVATION_TIME
8           2004-01-18 01:00:00+00:00       -2.92        2.30        8.96
            2004-01-18 02:00:00+00:00       -3.10        2.12        8.96
            2004-01-18 03:00:00+00:00       -3.28        2.12        8.78
            2004-01-18 04:00:00+00:00       -3.46        1.76        8.78
            2004-01-18 05:00:00+00:00       -3.82        1.76        8.60
...                                           ...         ...         ...
323         2017-12-31 19:00:00+00:00       22.85       24.07       25.53
            2017-12-31 20:00:00+00:00       22.92       24.12       25.54
            2017-12-31 21:00:00+00:00       22.99       24.16       25.57
            2017-12-31 22:00:00+00:00       23.06       24.21       25.59
            2017-12-31 23:00:00+00:00       23.11       24.25       25.61

                                       TMR_SUB_30  TMR_SUB_36  TMR_SUB_42  \
SITE_NUMBER OBSERVATION_TIME
8           2004-01-18 01:00:00+00:00       14.36       19.94       24.62
            2004-01-18 02:00:00+00:00       14.36       19.76       24.44
            2004-01-18 03:00:00+00:00       14.18       19.76       24.44
            2004-01-18 04:00:00+00:00       14.18       19.76       24.44
            2004-01-18 05:00:00+00:00       14.00       19.58       24.26
...                                           ...         ...         ...
323         2017-12-31 19:00:00+00:00       27.01       28.74       29.97
            2017-12-31 20:00:00+00:00       27.01       28.73       29.96
            2017-12-31 21:00:00+00:00       27.02       28.73       29.95
            2017-12-31 22:00:00+00:00       27.03       28.72       29.94
            2017-12-31 23:00:00+00:00       27.04       28.72       29.93

                                       TMR_SUB_48  TMR_SUB_54  TMR_SUB_60  \
SITE_NUMBER OBSERVATION_TIME
8           2004-01-18 01:00:00+00:00       28.40       30.20       32.00
            2004-01-18 02:00:00+00:00       28.40       30.20       32.00
            2004-01-18 03:00:00+00:00       28.40       30.20       32.00
            2004-01-18 04:00:00+00:00       28.40       30.20       32.00
            2004-01-18 05:00:00+00:00       28.22       30.02       32.00
...                                           ...         ...         ...
323         2017-12-31 19:00:00+00:00       31.72       32.48       33.07
            2017-12-31 20:00:00+00:00       31.71       32.47       33.07
            2017-12-31 21:00:00+00:00       31.70       32.47       33.06
            2017-12-31 22:00:00+00:00       31.70       32.46       33.06
            2017-12-31 23:00:00+00:00       31.69       32.45       33.06

                                       TMR_SUB_66  TMR_SUB_72
SITE_NUMBER OBSERVATION_TIME
8           2004-01-18 01:00:00+00:00       33.44       34.34
            2004-01-18 02:00:00+00:00       33.44       34.34
            2004-01-18 03:00:00+00:00       33.44       34.34
            2004-01-18 04:00:00+00:00       33.44       34.34
            2004-01-18 05:00:00+00:00       33.44       34.34
...                                           ...         ...
323         2017-12-31 19:00:00+00:00       33.66       34.15
            2017-12-31 20:00:00+00:00       33.66       34.15
            2017-12-31 21:00:00+00:00       33.66       34.15
            2017-12-31 22:00:00+00:00       33.65       34.14
            2017-12-31 23:00:00+00:00       33.65       34.14

[5754574 rows x 17 columns]

## Check Datatypes

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 5754574 entries, (8, Timestamp('2004-01-18 01:00:00+0000', tz='UTC')) to (323, Timestamp('2017-12-31 23:00:00+0000', tz='UTC'))
Data columns (total 17 columns):
 #   Column            Dtype
---  ------            -----
 0   AMBIENT_AIR_TEMP  float64
 1   TMR_PAV           float64
 2   TMR_SUB_0         float64
 3   TMR_SUB_3         float64
 4   TMR_SUB_6         float64
 5   TMR_SUB_9         float64
 6   TMR_SUB_12        float64
 7   TMR_SUB_18        float64
 8   TMR_SUB_24        float64
 9   TMR_SUB_30        float64
 10  TMR_SUB_36        float64
 11  TMR_SUB_42        float64
 12  TMR_SUB_48        float64
 13  TMR_SUB_54        float64
 14  TMR_SUB_60        float64
 15  TMR_SUB_66        float64
 16  TMR_SUB_72        float64
dtypes: float64(17)
memory usage: 778.8 MB

## View Range of Index Values

In [8]:
df1.index

MultiIndex([(  8, '2004-01-18 01:00:00+00:00'),
            (  8, '2004-01-18 02:00:00+00:00'),
            (  8, '2004-01-18 03:00:00+00:00'),
            (  8, '2004-01-18 04:00:00+00:00'),
            (  8, '2004-01-18 05:00:00+00:00'),
            (  8, '2004-01-18 06:00:00+00:00'),
            (  8, '2004-01-18 07:00:00+00:00'),
            (  8, '2004-01-18 08:00:00+00:00'),
            (  8, '2004-01-18 09:00:00+00:00'),
            (  8, '2004-01-18 10:00:00+00:00'),
            ...
            (323, '2017-12-31 14:00:00+00:00'),
            (323, '2017-12-31 15:00:00+00:00'),
            (323, '2017-12-31 16:00:00+00:00'),
            (323, '2017-12-31 17:00:00+00:00'),
            (323, '2017-12-31 18:00:00+00:00'),
            (323, '2017-12-31 19:00:00+00:00'),
            (323, '2017-12-31 20:00:00+00:00'),
            (323, '2017-12-31 21:00:00+00:00'),
            (323, '2017-12-31 22:00:00+00:00'),
            (323, '2017-12-31 23:00:00+00:00')],
           names=['SITE_NUMBER', 'OBSERVATION_TIME'], length=5754574)

## Test Slicing to Specified SITE_NUMBER and OBSERVATION_TIME Range

In [14]:
df6 = df1.loc[(128, '2007-01'): (128, '2007-12-31-23')]

In [15]:
df6

                                       AMBIENT_AIR_TEMP  TMR_PAV  TMR_SUB_0  \
SITE_NUMBER OBSERVATION_TIME
128         2007-01-01 00:00:00+00:00              8.25    16.01      18.61
            2007-01-01 01:00:00+00:00             10.83    16.01      18.69
            2007-01-01 02:00:00+00:00             11.22    15.83      18.52
            2007-01-01 03:00:00+00:00             10.05    15.74      18.08
            2007-01-01 04:00:00+00:00             11.74    15.46      17.82
...                                                 ...      ...        ...
            2007-12-31 19:00:00+00:00             30.54    24.51      24.51
            2007-12-31 20:00:00+00:00             31.82    24.91      24.27
            2007-12-31 21:00:00+00:00             33.34    26.53      24.82
            2007-12-31 22:00:00+00:00             36.91    26.45      25.05
            2007-12-31 23:00:00+00:00             36.83    28.62      25.52

                                       TMR_SUB_3  TMR_SUB_6  TMR_SUB_9  \
SITE_NUMBER OBSERVATION_TIME
128         2007-01-01 00:00:00+00:00      19.91      20.93      21.68
            2007-01-01 01:00:00+00:00      19.39      20.51      21.59
            2007-01-01 02:00:00+00:00      19.39      20.50      21.51
            2007-01-01 03:00:00+00:00      19.65      20.42      20.84
            2007-01-01 04:00:00+00:00      18.87      20.17      21.26
...                                          ...        ...        ...
            2007-12-31 19:00:00+00:00      23.47      24.43      23.47
            2007-12-31 20:00:00+00:00      24.26      23.64      24.59
            2007-12-31 21:00:00+00:00      25.29      24.35      24.58
            2007-12-31 22:00:00+00:00      24.03      24.58      24.82
            2007-12-31 23:00:00+00:00      24.26      24.66      24.11

                                       TMR_SUB_12  TMR_SUB_18  TMR_SUB_24  \
SITE_NUMBER OBSERVATION_TIME
128         2007-01-01 00:00:00+00:00       21.84       22.66       23.23
            2007-01-01 01:00:00+00:00       22.09       22.59       23.55
            2007-01-01 02:00:00+00:00       21.84       22.42       23.47
            2007-01-01 03:00:00+00:00       21.76       22.82       23.39
            2007-01-01 04:00:00+00:00       21.68       22.42       23.23
...                                           ...         ...         ...
            2007-12-31 19:00:00+00:00       23.95       25.45       26.60
            2007-12-31 20:00:00+00:00       24.51       24.91       26.22
            2007-12-31 21:00:00+00:00       23.95       24.98       25.76
            2007-12-31 22:00:00+00:00       24.19       24.50       25.44
            2007-12-31 23:00:00+00:00       24.34       25.44       26.13

                                       TMR_SUB_30  TMR_SUB_36  TMR_SUB_42  \
SITE_NUMBER OBSERVATION_TIME
128         2007-01-01 00:00:00+00:00       24.59       26.15       27.37
            2007-01-01 01:00:00+00:00       24.43       25.68       27.44
            2007-01-01 02:00:00+00:00       24.11       25.68       27.66
            2007-01-01 03:00:00+00:00       24.51       25.84       27.74
            2007-01-01 04:00:00+00:00       24.59       26.07       27.52
...                                           ...         ...         ...
            2007-12-31 19:00:00+00:00       27.52       28.78       29.74
            2007-12-31 20:00:00+00:00       27.59       27.82       29.59
            2007-12-31 21:00:00+00:00       27.36       29.29       29.88
            2007-12-31 22:00:00+00:00       27.21       29.21       29.94
            2007-12-31 23:00:00+00:00       27.88       29.14       29.51

                                       TMR_SUB_48  TMR_SUB_54  TMR_SUB_60  \
SITE_NUMBER OBSERVATION_TIME
128         2007-01-01 00:00:00+00:00       28.93       31.03       31.73
            2007-01-01 01:00:00+00:00       29.01       31.24       31.88
            2007-01-01 02:00:00+00:00       29.00       31.10       32.09
            2007-01-01 03:00:00+00:00       29.15       31.32       31.95
            2007-01-01 04:00:00+00:00       29.23       31.39       32.23
...                                           ...         ...         ...
            2007-12-31 19:00:00+00:00       30.10       32.09       33.21
            2007-12-31 20:00:00+00:00       30.96       31.95       33.96
            2007-12-31 21:00:00+00:00       31.38       31.94       32.93
            2007-12-31 22:00:00+00:00       31.10       32.99       32.78
            2007-12-31 23:00:00+00:00       30.59       31.94       32.99

                                       TMR_SUB_66  TMR_SUB_72
SITE_NUMBER OBSERVATION_TIME
128         2007-01-01 00:00:00+00:00       32.58       33.21
            2007-01-01 01:00:00+00:00       32.38       33.21
            2007-01-01 02:00:00+00:00       32.79       33.13
            2007-01-01 03:00:00+00:00       32.38       33.00
            2007-01-01 04:00:00+00:00       32.59       33.14
...                                           ...         ...
            2007-12-31 19:00:00+00:00       33.62       34.03
            2007-12-31 20:00:00+00:00       33.41       34.57
            2007-12-31 21:00:00+00:00       34.30       34.91
            2007-12-31 22:00:00+00:00       33.41       34.71
            2007-12-31 23:00:00+00:00       33.81       34.15

[8749 rows x 17 columns]

## Test Slicing Specified SITE_NUMBER Range

In [17]:
# test slicing specified site_number values (success)

df7 = df1.loc[(101): (128)]

In [18]:
df7

                                       AMBIENT_AIR_TEMP  TMR_PAV  TMR_SUB_0  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00             23.72    10.58       9.68
            2007-03-27 02:00:00+00:00             23.90    10.58       9.86
            2007-03-27 03:00:00+00:00             19.94     9.86       9.68
            2007-03-27 04:00:00+00:00             10.58     8.96       8.96
            2007-03-27 05:00:00+00:00              6.62     8.06       8.24
...                                                 ...      ...        ...
128         2017-12-31 19:00:00+00:00             31.98    25.85      22.62
            2017-12-31 20:00:00+00:00             31.41    25.73      22.72
            2017-12-31 21:00:00+00:00             30.78    25.60      22.82
            2017-12-31 22:00:00+00:00             31.05    25.53      22.91
            2017-12-31 23:00:00+00:00             31.58    25.95      22.99

                                       TMR_SUB_3  TMR_SUB_6  TMR_SUB_9  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00       8.42       7.88       7.88
            2007-03-27 02:00:00+00:00       8.96       8.24       8.24
            2007-03-27 03:00:00+00:00       9.14       8.60       8.42
            2007-03-27 04:00:00+00:00       9.14       8.96       8.78
            2007-03-27 05:00:00+00:00       8.78       8.96       8.96
...                                          ...        ...        ...
128         2017-12-31 19:00:00+00:00      22.27      22.26      22.25
            2017-12-31 20:00:00+00:00      22.39      22.38      22.37
            2017-12-31 21:00:00+00:00      22.49      22.50      22.47
            2017-12-31 22:00:00+00:00      22.60      22.60      22.58
            2017-12-31 23:00:00+00:00      22.70      22.71      22.68

                                       TMR_SUB_12  TMR_SUB_18  TMR_SUB_24  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00        8.42        9.86       11.12
            2007-03-27 02:00:00+00:00        8.42       10.04       11.12
            2007-03-27 03:00:00+00:00        8.78        9.86       10.94
            2007-03-27 04:00:00+00:00        8.96        9.86       10.94
            2007-03-27 05:00:00+00:00        8.96        9.86       10.94
...                                           ...         ...         ...
128         2017-12-31 19:00:00+00:00       22.56       23.83       25.63
            2017-12-31 20:00:00+00:00       22.65       23.89       25.65
            2017-12-31 21:00:00+00:00       22.75       23.95       25.68
            2017-12-31 22:00:00+00:00       22.84       24.02       25.71
            2017-12-31 23:00:00+00:00       22.94       24.08       25.73

                                       TMR_SUB_30  TMR_SUB_36  TMR_SUB_42  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00       12.38       13.10       14.00
            2007-03-27 02:00:00+00:00       12.38       13.28       14.00
            2007-03-27 03:00:00+00:00       12.20       13.10       14.00
            2007-03-27 04:00:00+00:00       12.20       13.10       14.00
            2007-03-27 05:00:00+00:00       12.20       13.10       14.00
...                                           ...         ...         ...
128         2017-12-31 19:00:00+00:00       27.81       29.86       31.74
            2017-12-31 20:00:00+00:00       27.80       29.84       31.74
            2017-12-31 21:00:00+00:00       27.81       29.83       31.73
            2017-12-31 22:00:00+00:00       27.80       29.81       31.71
            2017-12-31 23:00:00+00:00       27.81       29.79       31.70

                                       TMR_SUB_48  TMR_SUB_54  TMR_SUB_60  \
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00       14.54       15.44       16.52
            2007-03-27 02:00:00+00:00       14.72       15.62       16.52
            2007-03-27 03:00:00+00:00       14.72       15.44       16.52
            2007-03-27 04:00:00+00:00       14.72       15.62       16.52
            2007-03-27 05:00:00+00:00       14.72       15.62       16.52
...                                           ...         ...         ...
128         2017-12-31 19:00:00+00:00       32.55       33.37       33.90
            2017-12-31 20:00:00+00:00       32.54       33.36       33.89
            2017-12-31 21:00:00+00:00       32.53       33.35       33.89
            2017-12-31 22:00:00+00:00       32.52       33.34       33.88
            2017-12-31 23:00:00+00:00       32.51       33.33       33.87

                                       TMR_SUB_66  TMR_SUB_72
SITE_NUMBER OBSERVATION_TIME
101         2007-03-27 01:00:00+00:00       17.42       18.14
            2007-03-27 02:00:00+00:00       17.60       18.32
            2007-03-27 03:00:00+00:00       17.42       18.14
            2007-03-27 04:00:00+00:00       17.42       18.32
            2007-03-27 05:00:00+00:00       17.42       18.32
...                                           ...         ...
128         2017-12-31 19:00:00+00:00       34.65       35.28
            2017-12-31 20:00:00+00:00       34.65       35.28
            2017-12-31 21:00:00+00:00       34.64       35.27
            2017-12-31 22:00:00+00:00       34.64       35.27
            2017-12-31 23:00:00+00:00       34.63       35.27

[1959707 rows x 17 columns]

## Test Slicing SITE_NUMBER Range and Date Time Range

In [12]:
# second date time argument for station 323 does not seem to function properly (does not return '2014' dates)

df8 = df1.loc[(101,'2014'): (323, '2014')]

In [13]:
df8

                                       AMBIENT_AIR_TEMP  TMR_PAV  TMR_SUB_0  \
SITE_NUMBER OBSERVATION_TIME
101         2014-01-01 00:00:00+00:00             -6.70    35.06      35.06
            2014-01-01 01:00:00+00:00             -5.62    31.82      35.06
            2014-01-01 02:00:00+00:00             -3.82    35.06      31.82
            2014-01-01 03:00:00+00:00             -3.46    35.06      31.82
            2014-01-01 04:00:00+00:00             -2.20    31.64      38.66
...                                                 ...      ...        ...
313         2017-12-31 19:00:00+00:00             22.30    22.80      21.14
            2017-12-31 20:00:00+00:00             22.42    22.41      21.13
            2017-12-31 21:00:00+00:00             22.58    22.20      21.07
            2017-12-31 22:00:00+00:00             21.94    22.04      21.00
            2017-12-31 23:00:00+00:00             21.80    21.83      20.92

                                       TMR_SUB_3  TMR_SUB_6  TMR_SUB_9  \
SITE_NUMBER OBSERVATION_TIME
101         2014-01-01 00:00:00+00:00      31.82      31.82      35.06
            2014-01-01 01:00:00+00:00      35.06      31.82      31.82
            2014-01-01 02:00:00+00:00      35.06      35.06      35.06
            2014-01-01 03:00:00+00:00      28.40      35.06      35.06
            2014-01-01 04:00:00+00:00      38.66      38.66      38.66
...                                          ...        ...        ...
313         2017-12-31 19:00:00+00:00      21.49      21.94      22.56
            2017-12-31 20:00:00+00:00      21.55      22.03      22.65
            2017-12-31 21:00:00+00:00      21.58      22.11      22.73
            2017-12-31 22:00:00+00:00      21.58      22.16      22.80
            2017-12-31 23:00:00+00:00      21.57      22.20      22.85

                                       TMR_SUB_12  TMR_SUB_18  TMR_SUB_24  \
SITE_NUMBER OBSERVATION_TIME
101         2014-01-01 00:00:00+00:00       35.06       31.82       35.06
            2014-01-01 01:00:00+00:00       35.06       31.82       31.82
            2014-01-01 02:00:00+00:00       31.82       35.06       35.06
            2014-01-01 03:00:00+00:00       31.82       28.40       35.06
            2014-01-01 04:00:00+00:00       31.64       35.06       38.66
...                                           ...         ...         ...
313         2017-12-31 19:00:00+00:00       22.85       24.07       25.53
            2017-12-31 20:00:00+00:00       22.92       24.12       25.54
            2017-12-31 21:00:00+00:00       22.99       24.16       25.57
            2017-12-31 22:00:00+00:00       23.06       24.21       25.59
            2017-12-31 23:00:00+00:00       23.11       24.25       25.61

                                       TMR_SUB_30  TMR_SUB_36  TMR_SUB_42  \
SITE_NUMBER OBSERVATION_TIME
101         2014-01-01 00:00:00+00:00       31.82       31.82       35.06
            2014-01-01 01:00:00+00:00       35.06       35.06       31.82
            2014-01-01 02:00:00+00:00       31.82       31.82       31.82
            2014-01-01 03:00:00+00:00       31.82       31.82       35.06
            2014-01-01 04:00:00+00:00       38.66       38.66       35.06
...                                           ...         ...         ...
313         2017-12-31 19:00:00+00:00       27.01       28.74       29.97
            2017-12-31 20:00:00+00:00       27.01       28.73       29.96
            2017-12-31 21:00:00+00:00       27.02       28.73       29.95
            2017-12-31 22:00:00+00:00       27.03       28.72       29.94
            2017-12-31 23:00:00+00:00       27.04       28.72       29.93

                                       TMR_SUB_48  TMR_SUB_54  TMR_SUB_60  \
SITE_NUMBER OBSERVATION_TIME
101         2014-01-01 00:00:00+00:00       31.82       31.82       31.82
            2014-01-01 01:00:00+00:00       35.06       35.06       35.06
            2014-01-01 02:00:00+00:00       35.06       31.82       35.06
            2014-01-01 03:00:00+00:00       35.06       35.06       35.06
            2014-01-01 04:00:00+00:00       38.66       38.66       35.06
...                                           ...         ...         ...
313         2017-12-31 19:00:00+00:00       31.72       32.48       33.07
            2017-12-31 20:00:00+00:00       31.71       32.47       33.07
            2017-12-31 21:00:00+00:00       31.70       32.47       33.06
            2017-12-31 22:00:00+00:00       31.70       32.46       33.06
            2017-12-31 23:00:00+00:00       31.69       32.45       33.06

                                       TMR_SUB_66  TMR_SUB_72
SITE_NUMBER OBSERVATION_TIME
101         2014-01-01 00:00:00+00:00       31.82       31.82
            2014-01-01 01:00:00+00:00       31.82       28.40
            2014-01-01 02:00:00+00:00       35.06       35.06
            2014-01-01 03:00:00+00:00       31.82       31.82
            2014-01-01 04:00:00+00:00       35.06       38.66
...                                           ...         ...
313         2017-12-31 19:00:00+00:00       33.66       34.15
            2017-12-31 20:00:00+00:00       33.66       34.15
            2017-12-31 21:00:00+00:00       33.66       34.15
            2017-12-31 22:00:00+00:00       33.65       34.14
            2017-12-31 23:00:00+00:00       33.65       34.14

[4420455 rows x 17 columns]

In [11]:
df8.index

MultiIndex([(101, '2014-01-01 00:00:00+00:00'),
            (101, '2014-01-01 01:00:00+00:00'),
            (101, '2014-01-01 02:00:00+00:00'),
            (101, '2014-01-01 03:00:00+00:00'),
            (101, '2014-01-01 04:00:00+00:00'),
            (101, '2014-01-01 05:00:00+00:00'),
            (101, '2014-01-01 06:00:00+00:00'),
            (101, '2014-01-01 07:00:00+00:00'),
            (101, '2014-01-01 08:00:00+00:00'),
            (101, '2014-01-01 09:00:00+00:00'),
            ...
            (128, '2013-12-31 15:00:00+00:00'),
            (128, '2013-12-31 16:00:00+00:00'),
            (128, '2013-12-31 17:00:00+00:00'),
            (128, '2013-12-31 18:00:00+00:00'),
            (128, '2013-12-31 19:00:00+00:00'),
            (128, '2013-12-31 20:00:00+00:00'),
            (128, '2013-12-31 21:00:00+00:00'),
            (128, '2013-12-31 22:00:00+00:00'),
            (128, '2013-12-31 23:00:00+00:00'),
            (128, '2014-01-01 00:00:00+00:00')],
           names=['SITE_NUMBER', 'OBSERVATION_TIME'], length=1885821)

## Other Exercises

In [51]:
# station is integer, but date time is 'object'

df1.index.levels[1]

DatetimeIndex(['2002-04-16 19:00:00+00:00', '2002-04-16 20:00:00+00:00',
               '2002-04-16 21:00:00+00:00', '2002-04-16 22:00:00+00:00',
               '2002-04-16 23:00:00+00:00', '2002-04-17 00:00:00+00:00',
               '2002-04-17 01:00:00+00:00', '2002-04-17 02:00:00+00:00',
               '2002-04-17 03:00:00+00:00', '2002-04-17 04:00:00+00:00',
               ...
               '2017-12-31 14:00:00+00:00', '2017-12-31 15:00:00+00:00',
               '2017-12-31 16:00:00+00:00', '2017-12-31 17:00:00+00:00',
               '2017-12-31 18:00:00+00:00', '2017-12-31 19:00:00+00:00',
               '2017-12-31 20:00:00+00:00', '2017-12-31 21:00:00+00:00',
               '2017-12-31 22:00:00+00:00', '2017-12-31 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='OBSERVATION_TIME', length=127982, freq=None)

In [42]:
datetimeindex = pd.to_datetime(df1.index.levels[1])

In [38]:
df1.info()

AttributeError: 'DatetimeIndex' object has no attribute 'info'

In [79]:
# works but does not reference 128 index column

df2 = df1.loc[(128),('2014')]

C:\Users\TRHislop\Anaconda3\lib\site-packages\pandas\core\generic.py:3723: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  return self[key]

In [83]:
df1.loc[(df1.SITE_NUMBER == 128) & (df1.OBSERVATION_TIME == '2014-01-01 01:00:00+00:00')]

AttributeError: 'DataFrame' object has no attribute 'SITE_NUMBER'

In [95]:
df1.loc[(128), ('2014-01-01 01:00:00+00:00')]

AMBIENT_AIR_TEMP    37.04
TMR_PAV             30.45
TMR_SUB_0           29.72
TMR_SUB_3           28.99
TMR_SUB_6           28.41
TMR_SUB_9           28.11
TMR_SUB_12          27.44
TMR_SUB_18          26.74
TMR_SUB_24          25.98
TMR_SUB_30          25.83
TMR_SUB_36          25.67
TMR_SUB_42          25.98
TMR_SUB_48          26.74
TMR_SUB_54          28.48
TMR_SUB_60          29.29
TMR_SUB_66          29.72
TMR_SUB_72          30.66
Name: (128, 2014-01-01 01:00:00+00:00), dtype: float64

In [72]:
df1.loc[128].head()

,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72
OBSERVATION_TIME,,,,,,,,,,,,,,,,,
2003-01-31 02:00:00+00:00,31.31,31.93,31.85,31.57,31.07,31.07,31.00,30.72,30.86,31.43,31.43,31.92,33.03,33.73,34.41,34.88,35.02
2003-01-31 03:00:00+00:00,34.11,31.37,32.07,32.14,31.51,30.94,31.23,30.80,30.80,31.09,31.51,32.07,32.42,33.60,34.08,34.76,35.10
2003-01-31 04:00:00+00:00,32.83,30.87,31.79,31.58,31.30,31.16,30.87,30.52,30.66,30.94,31.51,32.14,32.21,33.74,34.22,34.63,35.30
2003-01-31 05:00:00+00:00,32.47,31.37,32.15,31.79,31.51,31.37,31.02,30.80,30.80,31.02,31.23,31.73,32.50,33.54,34.29,34.83,35.30
2003-01-31 06:00:00+00:00,33.89,31.38,32.01,31.80,31.73,31.37,30.80,30.52,30.59,30.87,31.80,32.15,32.64,33.61,34.29,34.83,35.17

In [80]:
# does appear to match station 128 values despite not including 128 label

df2.head()

,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72
OBSERVATION_TIME,,,,,,,,,,,,,,,,,
2014-01-01 00:00:00+00:00,38.55,26.52,22.58,21.17,20.07,19.82,19.21,19.99,20.24,22.00,24.03,25.90,27.81,30.74,32.22,32.99,34.15
2014-01-01 01:00:00+00:00,37.04,30.45,29.72,28.99,28.41,28.11,27.44,26.74,25.98,25.83,25.67,25.98,26.74,28.48,29.29,29.72,30.66
2014-01-01 02:00:00+00:00,36.45,31.16,30.01,29.51,28.63,28.47,27.80,26.52,26.13,25.52,25.67,26.21,26.44,27.95,28.63,29.80,30.73
2014-01-01 03:00:00+00:00,35.40,30.73,30.08,29.36,28.63,28.26,27.66,26.67,26.29,25.83,25.90,26.06,26.74,28.48,28.70,29.51,30.01
2014-01-01 04:00:00+00:00,35.50,30.74,29.95,29.36,28.48,28.33,27.74,26.45,25.99,25.59,26.22,26.83,27.21,28.77,28.99,29.29,30.53

In [74]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2014-01-01 00:00:00+00:00 to 2014-12-31 23:00:00+00:00
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   AMBIENT_AIR_TEMP  8760 non-null   float64
 1   TMR_PAV           8760 non-null   float64
 2   TMR_SUB_0         8760 non-null   float64
 3   TMR_SUB_3         8760 non-null   float64
 4   TMR_SUB_6         8760 non-null   float64
 5   TMR_SUB_9         8760 non-null   float64
 6   TMR_SUB_12        8760 non-null   float64
 7   TMR_SUB_18        8760 non-null   float64
 8   TMR_SUB_24        8760 non-null   float64
 9   TMR_SUB_30        8760 non-null   float64
 10  TMR_SUB_36        8760 non-null   float64
 11  TMR_SUB_42        8760 non-null   float64
 12  TMR_SUB_48        8760 non-null   float64
 13  TMR_SUB_54        8760 non-null   float64
 14  TMR_SUB_60        8760 non-null   float64
 15  TMR_SUB_66        8760 non-null   float64
 16  TMR_SUB_72        8760 non-null   float64
dtypes: float64(17)
memory usage: 1.2 MB

In [54]:
df2.index

DatetimeIndex(['2003-01-31 02:00:00+00:00', '2003-01-31 03:00:00+00:00',
               '2003-01-31 04:00:00+00:00', '2003-01-31 05:00:00+00:00',
               '2003-01-31 06:00:00+00:00', '2003-01-31 07:00:00+00:00',
               '2003-01-31 08:00:00+00:00', '2003-01-31 09:00:00+00:00',
               '2003-01-31 10:00:00+00:00', '2003-01-31 11:00:00+00:00',
               ...
               '2017-12-31 14:00:00+00:00', '2017-12-31 15:00:00+00:00',
               '2017-12-31 16:00:00+00:00', '2017-12-31 17:00:00+00:00',
               '2017-12-31 18:00:00+00:00', '2017-12-31 19:00:00+00:00',
               '2017-12-31 20:00:00+00:00', '2017-12-31 21:00:00+00:00',
               '2017-12-31 22:00:00+00:00', '2017-12-31 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='OBSERVATION_TIME', length=110581, freq=None)

In [58]:
df3 = df1.loc[(128): (2014)]

In [56]:
df3.head()

                                       AMBIENT_AIR_TEMP  TMR_PAV  TMR_SUB_0  \
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00             31.31    31.93      31.85
            2003-01-31 03:00:00+00:00             34.11    31.37      32.07
            2003-01-31 04:00:00+00:00             32.83    30.87      31.79
            2003-01-31 05:00:00+00:00             32.47    31.37      32.15
            2003-01-31 06:00:00+00:00             33.89    31.38      32.01

                                       TMR_SUB_3  TMR_SUB_6  TMR_SUB_9  \
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00      31.57      31.07      31.07
            2003-01-31 03:00:00+00:00      32.14      31.51      30.94
            2003-01-31 04:00:00+00:00      31.58      31.30      31.16
            2003-01-31 05:00:00+00:00      31.79      31.51      31.37
            2003-01-31 06:00:00+00:00      31.80      31.73      31.37

                                       TMR_SUB_12  TMR_SUB_18  TMR_SUB_24  \
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00       31.00       30.72       30.86
            2003-01-31 03:00:00+00:00       31.23       30.80       30.80
            2003-01-31 04:00:00+00:00       30.87       30.52       30.66
            2003-01-31 05:00:00+00:00       31.02       30.80       30.80
            2003-01-31 06:00:00+00:00       30.80       30.52       30.59

                                       TMR_SUB_30  TMR_SUB_36  TMR_SUB_42  \
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00       31.43       31.43       31.92
            2003-01-31 03:00:00+00:00       31.09       31.51       32.07
            2003-01-31 04:00:00+00:00       30.94       31.51       32.14
            2003-01-31 05:00:00+00:00       31.02       31.23       31.73
            2003-01-31 06:00:00+00:00       30.87       31.80       32.15

                                       TMR_SUB_48  TMR_SUB_54  TMR_SUB_60  \
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00       33.03       33.73       34.41
            2003-01-31 03:00:00+00:00       32.42       33.60       34.08
            2003-01-31 04:00:00+00:00       32.21       33.74       34.22
            2003-01-31 05:00:00+00:00       32.50       33.54       34.29
            2003-01-31 06:00:00+00:00       32.64       33.61       34.29

                                       TMR_SUB_66  TMR_SUB_72
SITE_NUMBER OBSERVATION_TIME
128         2003-01-31 02:00:00+00:00       34.88       35.02
            2003-01-31 03:00:00+00:00       34.76       35.10
            2003-01-31 04:00:00+00:00       34.63       35.30
            2003-01-31 05:00:00+00:00       34.83       35.30
            2003-01-31 06:00:00+00:00       34.83       35.17

In [59]:
df4 = df1.loc[(128): (2014), 'TMR_SUB_18']

In [60]:
df4

SITE_NUMBER  OBSERVATION_TIME
128          2003-01-31 02:00:00+00:00    30.72
             2003-01-31 03:00:00+00:00    30.80
             2003-01-31 04:00:00+00:00    30.52
             2003-01-31 05:00:00+00:00    30.80
             2003-01-31 06:00:00+00:00    30.52
                                          ...
323          2017-12-31 19:00:00+00:00    24.07
             2017-12-31 20:00:00+00:00    24.12
             2017-12-31 21:00:00+00:00    24.16
             2017-12-31 22:00:00+00:00    24.21
             2017-12-31 23:00:00+00:00    24.25
Name: TMR_SUB_18, Length: 2611880, dtype: float64