# Imports

In [1]:
import pandas as pd
import numpy as np
import pathlib
import calendar
import pickle

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Data Connection

In [ ]:
from sqlalchemy import create_engine

database_filename = 'tdpdata.db'
table_name = 'tdpsheet'
engine = create_engine('sqlite:///{}'.format(database_filename))

In [ ]:
tester = engine.execute("SELECT SITE_NUMBER, OBSERVATION_TIME, TMR_SUB_18 FROM tdpsheet WHERE SITE_NUMBER is '128' LIMIT 5")

for result in tester:
    print(result)

print(engine.table_names())

# Data Loading

In [ ]:
query = "SELECT SITE_NUMBER, OBSERVATION_TIME, TMR_SUB_18 FROM tdpsheet WHERE SITE_NUMBER is '128'"

In [ ]:
df_sql_test = pd.read_sql(query, engine, parse_dates='OBSERVATION_TIME')

In [ ]:
df_copy_sql = df_sql_test.reset_index(drop=True)

df_copy_sql.reset_index(inplace=True, drop=True)

df_copy_sql

In [ ]:
df_copy_sql.info()

folder = r'C:\Users\ejmason\JupyterNotebooks\Temperature Data Scripts\Temp_Data_Prob'


folder = r'..\Temperature_Data_Probe'

import os
df_list = []
for file in os.listdir(folder):
    if file.endswith('.csv') and file.startswith('TDP_'):
        df = pd.read_csv(os.path.join(folder,file), index_col=None, header=0)
        df_list.append(df)

df_all = pd.concat(df_list, axis=0, ignore_index=True)

df_all.shape

# Reduce and Specify Dataframe feature/values

In [ ]:
df_128_all = df_copy_sql.loc[df_copy_sql['SITE_NUMBER']=='128']

df_128_all_18 = df_128_all[['SITE_NUMBER','OBSERVATION_TIME','TMR_SUB_18']]

df_128_all_18.head()

# DateTime

In [ ]:
# df_128_all_18.OBSERVATION_TIME = pd.to_datetime(df_128_all_18['OBSERVATION_TIME'], 
                                                format="%Y-%m-%d-%H-%M-%S")

In [5]:
def datetime_parse(df):

    df['year'] = df.OBSERVATION_TIME.dt.year
    df['month'] = df.OBSERVATION_TIME.dt.month
    
    df['day'] = df.OBSERVATION_TIME.dt.day
    df['hour'] = df.OBSERVATION_TIME.dt.hour
    
    return df

In [6]:
df_128 = datetime_parse(df_128)

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
df_128_all_18.dtypes

# DataFrame Pickle

In [ ]:
# filename = "df_128_all_18.pkl"
filename = "df_128_all_years_18.pkl"
df_128_all_18.to_pickle(filename)

In [ ]:
filename = "df_128_all_years_18.pkl"
df_128_all_18 = pd.read_pickle(filename)

In [ ]:
filename = "df_128_all_years_18_clean.pkl" # this is a cleaned DF with nulls
df_clean = pd.read_pickle(filename)

In [2]:
filename = "df_128.pkl" # this is a cleaned DF with nulls
df_128 = pd.read_pickle(filename)

df_128.sort_values('OBSERVATION_TIME', inplace=True)

# drop unnecessary rows
df_128 = df_128.drop(['REF_TEMP', 'IN_PAVEMENT_TEMP', 'INTERNAL_TEMP', 'BATTERY_VOLTAGE'], axis=1)

In [ ]:
df_128.isnull().sum()

# Create 3/5 Test dataframe

In [ ]:
df_35 = df_128_all_18

In [ ]:
df_35_test = df_35.loc[df_35.year.between(2013, 2017)]

# 24 hours rule

## less_than_24_hours

In [ ]:
df_reindex.head()

In [ ]:
df_index = df_reindex.set_index(['year','month','day']).sort_values('hour')

In [ ]:
df_index.head()

In [ ]:
df_group = df_reindex.groupby(['year', 'month', 'day'])['hour'].count()

In [ ]:
df_group

In [9]:
def less_than_24_hours(df):
    
    """
    this function determines if there is are less than 24 hours in a day of a month/year groupby object,
    then creates a hour_flag column and identifies it as flagged with a "1" value.
    
    This function involves groupby objects, masking, reindexing, and returns a new DataFrame.
    
    Argument:
    df: DataFrame with OBSERVATION_TIME, year, month, day columns
    
    Output:
    df_new: New DataFrame with similar design as original, but with addition of hours_flag column
    
    """
    print(df.OBSERVATION_TIME.isnull().sum())
    print(df.shape)
    df_group = df.groupby(['year', 'month', 'day'])['hour'].count() # gets the count of hours in the day as a series
    
    df_less = df_group == 24 # boolean test for 24 hours, produces series of boolean True/False
    
    # makes a list of values that are false and gets their index
    less_list = df_less.loc[df_less==False].index.values.tolist() 
    
    
    # creates new dataframe with a new index matching a groupby
    df_index = df.set_index(['year','month','day']).sort_values('hour') 
    
    df_index['hours_flag'] = 0 # creates new column for flagging records
    
    # any row index that matches the loc mask "less_list" gets its' hours_flag value set to "1"
    df_index.loc[less_list,'hours_flag'] = 1
    # df_index.loc[less_list,'OBSERVATION_TIME'] = np.nan # need to keep value until later
    
    print(df.OBSERVATION_TIME.isnull().sum())
    
    #create new dataframe with regular index based upon time
    df_new = df_index.reset_index().sort_values(['OBSERVATION_TIME'])
    
    print(df_new.shape)
    
    return df_new

In [10]:
df_128_24 = less_than_24_hours(df_128)

0
(110581, 23)
0
(110581, 24)

In [ ]:
df_clean = df_clean.dropna(axis=0)

In [ ]:
df_clean = less_than_24_hours(df_clean)

In [ ]:
df_128.loc[df_128['hours_flag']==1].head()

In [ ]:
df_128.loc[df_128['hours_flag']==1].count()

In [ ]:
reindex_df_test = reindex_df_test[reindex_df_test.hours_flag!=1] # this is one way to drop flagged records

In [ ]:
df_128 = df_128[df_128.hours_flag!=1] # this is one way to drop flagged records

In [ ]:
df_clean.loc[df_clean['hours_flag']==1].count()

# 5 Total Rule

## 5 Missing Day Rule For Loop

In [ ]:
print(mm)
print(yy)
print((days_month.loc[(days_month['month']==mm) & (days_month['year']==yy)]['day'].values))
print(calendar.monthlen(yy,mm))

In [11]:
## Calendar Builder
## throws a warning about truth ambiguous for empty array. i believe it's for months that don't exist in the data.
## will need to develop logic for [arrray.size > 0] to avoid generating a future error. 

def more_than_5_total(df):
    
    days_month = df.groupby(['year','month'])['day'].nunique().reset_index()
   
    df['days_5_total_flag'] = 0
    # get the values used to created calendar
    days_arrays = days_month[['year', 'month']]
    
    # for loop to create calendar for use with calendar.monthlen
    for years in range(len(days_arrays.year.unique())):
        # print(days_arrays.loc[years, 'year'])
        yy = days_arrays.loc[days_arrays.year==days_arrays.year.unique()[years], 'year'].min()
        # print(yy)
        for months in range(len(days_arrays.month.unique())):
            # print(days_arrays.loc[months, 'month'])
            mm = days_arrays.loc[months, 'month'].max()
            # print(mm)
            # print(days_arrays.monthlen(yy,mm)-5)
            if (days_month.loc[(days_month['month']==mm) & (days_month['year']==yy)]['day'].values) > (calendar.monthlen(yy,mm)-5):
                # print("good")
                df.loc[(df.month==mm) & (df.year==yy), 'days_5_total_flag'] = 0
            else:
                df.loc[(df.month==mm) & (df.year==yy), 'days_5_total_flag'] = 1
                # df.loc[(df.month==mm) & (df.year==yy), 'OBSERVATION_TIME'] = np.nan
    
    return df

In [12]:
df_128_24_5 = more_than_5_total(df_128_24)

C:\Users\ejmason\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:23: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.

In [ ]:
df_128.loc[df_128.days_5_total_flag==1].count()

In [ ]:
df_clean.shape

In [ ]:
# df_tester = df_tester[df_tester.days_5_total_flag!=1] # this is one way to drop flagged records

In [ ]:
df_tester.shape

# 3 consecutive days rule

In [ ]:
df_tester_copy = df_tester.sort_values('OBSERVATION_TIME').copy()

https://stackoverflow.com/questions/50809594/remove-all-rows-in-pandas-dataframe-with-n-or-more-consecutive-nans

There's an issue between various influences of the state of a missed/flagged/null date, 
may need to employ this cell below to check for **ALL** missing dates 

https://stackoverflow.com/questions/52044348/check-for-any-missing-dates-in-the-index

https://stackoverflow.com/questions/19324453/add-missing-dates-to-pandas-dataframe

In [ ]:
# TODO
# have to build a function to preprocess df_128_24_5 
# have to complete index date_range then reassemble the dataframe to include all dates including missing dates
# then have to change OBSERVATION_TIME to np.nan (NaT) whenever the flag columns have a value of 1
# then consecutive_3_days function needs to run for anything less than 73 of nan's in the OBSERVATION_TIME Column

# WHERE YOU LEFT OFF
# you are building the function with df_128_24_5 in mind, the cell 2 below (1 below df_128_24_5.head())
# this needs to be turned into a function which also converts the flags to np.nans

In [13]:
df_128_24_5.head()

,year,month,day,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,hour,hours_flag,days_5_total_flag
12382,2003,1,31,128,2003-01-31 02:00:00+00:00,31.31,31.93,31.85,31.57,31.07,31.07,31.00,30.72,30.86,31.43,31.43,31.92,33.03,33.73,34.41,34.88,35.02,2,1,1
18376,2003,1,31,128,2003-01-31 03:00:00+00:00,34.11,31.37,32.07,32.14,31.51,30.94,31.23,30.80,30.80,31.09,31.51,32.07,32.42,33.60,34.08,34.76,35.10,3,1,1
20712,2003,1,31,128,2003-01-31 04:00:00+00:00,32.83,30.87,31.79,31.58,31.30,31.16,30.87,30.52,30.66,30.94,31.51,32.14,32.21,33.74,34.22,34.63,35.30,4,1,1
27574,2003,1,31,128,2003-01-31 05:00:00+00:00,32.47,31.37,32.15,31.79,31.51,31.37,31.02,30.80,30.80,31.02,31.23,31.73,32.50,33.54,34.29,34.83,35.30,5,1,1
28052,2003,1,31,128,2003-01-31 06:00:00+00:00,33.89,31.38,32.01,31.80,31.73,31.37,30.80,30.52,30.59,30.87,31.80,32.15,32.64,33.61,34.29,34.83,35.17,6,1,1

In [15]:
idx = pd.date_range('2003-01-31', 
              '2017-12-31', freq="H", tz='UTC')

df_128_24_5.index = pd.DatetimeIndex(df_128_24_5.OBSERVATION_TIME)

df_reindex_test = df_128_24_5.reindex(idx, fill_value=np.nan)
df_reindex_test.head()

,year,month,day,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,hour,hours_flag,days_5_total_flag
2003-01-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-31 01:00:00+00:00,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-31 02:00:00+00:00,2003.0,1.0,31.0,128,2003-01-31 02:00:00+00:00,31.31,31.93,31.85,31.57,31.07,31.07,31.00,30.72,30.86,31.43,31.43,31.92,33.03,33.73,34.41,34.88,35.02,2.0,1.0,1.0
2003-01-31 03:00:00+00:00,2003.0,1.0,31.0,128,2003-01-31 03:00:00+00:00,34.11,31.37,32.07,32.14,31.51,30.94,31.23,30.80,30.80,31.09,31.51,32.07,32.42,33.60,34.08,34.76,35.10,3.0,1.0,1.0
2003-01-31 04:00:00+00:00,2003.0,1.0,31.0,128,2003-01-31 04:00:00+00:00,32.83,30.87,31.79,31.58,31.30,31.16,30.87,30.52,30.66,30.94,31.51,32.14,32.21,33.74,34.22,34.63,35.30,4.0,1.0,1.0

In [19]:
df_reindex_test.loc[(df_reindex_test.hours_flag==1) | (df_reindex_test.days_5_total_flag==1), 'OBSERVATION_TIME'] = np.nan

In [ ]:
time_missing = pd.date_range(df_128.OBSERVATION_TIME.min(), 
              df_128.OBSERVATION_TIME.max()).difference(df_128.OBSERVATION_TIME)

In [ ]:
type(time_missing)

In [ ]:
time_missing = time_missing.strftime('%Y-%m-%d')

In [ ]:
time_missing = pd.Series(time_missing)

In [ ]:
time_missing.head()

In [ ]:
df_reindex = df_128.reindex(pd.date_range('2003-01-31', 
              '2017-12-31', freq="H"))

In [ ]:
df_128.groupby(['SITE_NUMBER','year','month'])['day'].nunique().reset_index()

In [ ]:
df_128.groupby(['SITE_NUMBER','year','month', 'day']).count()

In [ ]:
df_128.loc[(df_128['year']==2004) & (df_128['month']==2) & (df_128['day'].between(23,26))]

In [ ]:
df_128.sort_values('OBSERVATION_TIME', inplace=True)

In [ ]:
mask_zero = df_reindex.OBSERVATION_TIME.notna()

In [ ]:
shift_sum = mask_zero.ne(mask_zero.shift()).cumsum() # everytime there is a difference in boolean value, it increments the count.

In [ ]:
shift_sum.values

In [ ]:
shift_sum.groupby(shift_sum.values).transform('size').unique()

In [23]:
def consecutive_3_days(df, sort_by_time=False):
    """
    Function takes a dataframe and looks for consecutive flagged days by using amask, ne(), shift(), and cumsum()
    the mask is made from non-flagged values ("O") in the "days_5_total_flag" column.
    Then used the ne() function to generate boolean values based on inequality between the following row (with shift()).
    It keeps a running count using cumsum().
    This sum of changes in the Boolean values is then grouped and filtered with transform for anything less than 3
    OR in the mask of non-flagged values.
    Records that groups of more than 3 and not in the mask are filtered out and not in the new Dataframe
    this function is preceded by the "more_than_5_total" function as it requires "days_5_total_flag" column.
    
    Arguments:
    df: DataFrame with a days_5_total_flag column
    
    Output:
    df: New DataFrame without the filtered values 
    """
    
    # pass argument to sort or pass through
    if sort_by_time is True:
        
        df = df.sort_values('OBSERVATION_TIME').copy() # dataframe must be sorted to perform
        
    print(df.shape)
    # creates a mask of non-flagged values (any row that doesn't have a 1 in the days_5_total_flag column)
    mask_zero = df.OBSERVATION_TIME.notna()
    
    # this uses the mask, and searches for a "NOT EQUAL" (ne) value below it using shift() which produces a boolean
    shift_sum = mask_zero.ne(mask_zero.shift()).cumsum() # everytime there is a difference in boolean value, it increments the count.
    
    # Filters the dataframe but grouping the cumulitve sum in "a" and getting the size.
    # if the size of a "False" group is less than 3 OR listed in mask variable, it remains and is turned into new DF
    df = df[(shift_sum.groupby(shift_sum.values).transform('size') < 72) | mask_zero]
    print(df.shape)
    
    return df

In [36]:
df = consecutive_3_days(df_reindex_test, sort_by_time=True)

(130753, 25)
(107497, 25)

In [ ]:
df.head()

In [26]:
df.dropna(subset=['TMR_SUB_0', 'TMR_SUB_3', 'TMR_SUB_6', 'TMR_SUB_9', 'TMR_SUB_12',
       'TMR_SUB_18', 'TMR_SUB_24', 'TMR_SUB_30', 'TMR_SUB_36', 'TMR_SUB_42',
       'TMR_SUB_48', 'TMR_SUB_54', 'TMR_SUB_60', 'TMR_SUB_66', 'TMR_SUB_72'], inplace=True, axis=0)

In [25]:
df.isnull().sum()

year                    0
month                   0
day                     0
SITE_NUMBER             0
OBSERVATION_TIME        0
AMBIENT_AIR_TEMP     1952
TMR_PAV              4191
TMR_SUB_0              57
TMR_SUB_3             114
TMR_SUB_6             158
TMR_SUB_9             189
TMR_SUB_12            160
TMR_SUB_18            127
TMR_SUB_24            128
TMR_SUB_30             99
TMR_SUB_36            111
TMR_SUB_42             84
TMR_SUB_48             28
TMR_SUB_54             26
TMR_SUB_60            100
TMR_SUB_66            143
TMR_SUB_72              1
hour                    0
hours_flag              0
days_5_total_flag       0
dtype: int64

In [27]:
df.isnull().sum()

year                    0
month                   0
day                     0
SITE_NUMBER             0
OBSERVATION_TIME        0
AMBIENT_AIR_TEMP     1929
TMR_PAV              4137
TMR_SUB_0               0
TMR_SUB_3               0
TMR_SUB_6               0
TMR_SUB_9               0
TMR_SUB_12              0
TMR_SUB_18              0
TMR_SUB_24              0
TMR_SUB_30              0
TMR_SUB_36              0
TMR_SUB_42              0
TMR_SUB_48              0
TMR_SUB_54              0
TMR_SUB_60              0
TMR_SUB_66              0
TMR_SUB_72              0
hour                    0
hours_flag              0
days_5_total_flag       0
dtype: int64

In [48]:
df.groupby(['year','month'])['day'].nunique().index[1][0]

2003.0

In [41]:
df.loc[(df.year==2004) & (df.month==6) & (df.day.between(24,29))]

,year,month,day,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,hour,hours_flag,days_5_total_flag
2004-06-24 00:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 00:00:00+00:00,77.50,109.20,90.30,83.7,79.7,77.5,75.8,73.4,70.7,67.04,63.92,61.15,58.07,55.79,53.62,52.64,51.86,0.0,0.0,0.0
2004-06-24 01:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 01:00:00+00:00,75.50,109.00,92.20,85.3,80.9,78.2,75.9,73.2,70.5,67.19,64.15,61.03,57.90,55.82,53.67,52.68,51.74,1.0,0.0,0.0
2004-06-24 02:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 02:00:00+00:00,75.20,106.40,93.50,86.8,81.9,78.8,76.3,73.3,70.7,67.38,63.95,61.08,58.06,55.98,53.88,52.57,51.68,2.0,0.0,0.0
2004-06-24 03:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 03:00:00+00:00,73.40,103.10,94.00,87.9,82.9,79.5,76.8,73.5,70.6,67.43,64.15,61.19,58.06,55.93,53.88,52.68,51.57,3.0,0.0,0.0
2004-06-24 04:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 04:00:00+00:00,68.88,99.10,93.60,88.4,83.6,80.3,77.3,73.5,70.5,67.23,64.31,61.34,58.22,55.77,54.05,52.68,51.57,4.0,0.0,0.0
2004-06-24 05:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 05:00:00+00:00,67.82,93.40,92.80,88.5,84.4,80.9,77.6,73.6,70.6,67.51,64.22,61.20,58.28,56.05,53.96,53.02,51.87,5.0,0.0,0.0
2004-06-24 06:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 06:00:00+00:00,63.57,88.60,91.20,88.2,84.8,81.4,77.9,73.8,70.8,67.72,64.19,61.37,58.35,55.96,53.86,52.76,51.60,6.0,0.0,0.0
2004-06-24 07:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 07:00:00+00:00,58.71,82.70,89.30,87.8,84.8,81.6,78.5,74.1,70.9,67.65,64.02,61.20,58.27,55.95,54.16,52.62,51.63,7.0,0.0,0.0
2004-06-24 08:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 08:00:00+00:00,54.65,78.50,87.10,86.9,84.7,82.0,78.7,74.2,71.0,67.67,64.25,61.27,58.25,56.07,53.96,52.70,51.38,8.0,0.0,0.0
2004-06-24 09:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 09:00:00+00:00,51.83,75.50,84.90,85.6,84.3,81.9,78.9,74.4,70.9,67.55,64.47,61.55,58.32,56.09,53.93,52.73,51.84,9.0,0.0,0.0
2004-06-24 10:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 10:00:00+00:00,50.02,72.90,82.80,84.1,83.7,81.7,79.0,74.6,71.1,67.71,64.44,61.47,58.50,56.27,53.99,52.84,51.80,10.0,0.0,0.0
2004-06-24 11:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 11:00:00+00:00,48.22,70.50,81.00,83.0,82.9,81.6,79.0,74.6,71.1,67.78,64.61,61.54,58.61,56.17,54.06,53.02,51.81,11.0,0.0,0.0
2004-06-24 12:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 12:00:00+00:00,45.89,68.64,79.00,81.6,82.1,81.2,79.0,74.7,71.2,67.74,64.67,61.69,58.72,56.33,54.07,52.97,51.93,12.0,0.0,0.0
2004-06-24 13:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 13:00:00+00:00,44.56,66.85,77.50,80.3,81.4,80.6,78.6,74.9,71.5,68.04,64.52,61.55,58.63,56.35,54.19,53.04,51.99,13.0,0.0,0.0
2004-06-24 14:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 14:00:00+00:00,48.84,66.75,75.70,78.9,80.3,79.9,78.6,75.1,71.5,68.05,64.78,61.66,58.58,56.35,54.19,52.99,51.88,14.0,0.0,0.0
2004-06-24 15:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 15:00:00+00:00,50.09,68.05,74.70,77.8,79.4,79.4,78.3,75.1,71.6,68.05,64.72,61.76,58.74,56.35,54.19,53.04,51.83,15.0,0.0,0.0
2004-06-24 16:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 16:00:00+00:00,51.55,69.89,74.30,77.1,78.7,78.7,77.9,75.3,71.9,68.29,64.62,61.81,58.94,56.61,54.02,53.04,51.88,16.0,0.0,0.0
2004-06-24 17:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 17:00:00+00:00,55.94,74.80,74.30,76.3,77.8,78.4,77.7,75.0,71.9,68.29,64.71,61.79,58.88,56.39,54.23,53.14,51.88,17.0,0.0,0.0
2004-06-24 18:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 18:00:00+00:00,63.47,81.00,75.00,76.0,77.2,77.7,77.4,75.0,71.8,68.36,64.94,61.93,58.81,56.53,54.27,53.12,51.91,18.0,0.0,0.0
2004-06-24 19:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 19:00:00+00:00,66.97,87.70,76.90,76.4,77.0,77.3,76.9,74.8,71.9,68.18,65.02,62.06,58.89,56.35,54.35,52.93,51.82,19.0,0.0,0.0
2004-06-24 20:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 20:00:00+00:00,70.10,93.00,79.30,77.1,76.8,76.9,76.7,74.8,72.0,68.51,64.95,61.98,58.91,56.71,54.39,53.08,51.98,20.0,0.0,0.0
2004-06-24 21:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 21:00:00+00:00,72.10,98.00,81.70,78.5,77.2,77.0,76.4,74.5,71.8,68.40,65.29,62.17,58.79,56.63,54.48,53.00,52.07,21.0,0.0,0.0
2004-06-24 22:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 22:00:00+00:00,74.00,103.70,84.40,79.8,77.8,77.0,76.2,74.5,72.0,68.63,65.16,62.11,59.05,56.72,54.41,53.21,52.20,22.0,0.0,0.0
2004-06-24 23:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 23:00:00+00:00,74.40,106.80,87.00,81.3,78.4,77.2,76.2,74.4,71.9,68.81,65.30,62.00,58.82,56.61,54.56,53.09,51.88,23.0,0.0,0.0
2004-06-29 00:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 00:00:00+00:00,61.70,75.60,76.60,77.3,77.8,78.0,77.9,77.0,75.2,72.20,68.94,65.88,62.63,59.89,57.36,55.71,54.25,0.0,0.0,0.0
2004-06-29 01:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 01:00:00+00:00,60.17,75.90,76.50,77.2,77.7,77.9,77.7,76.8,74.9,72.00,69.18,66.13,62.68,59.99,57.20,55.87,54.20,1.0,0.0,0.0
2004-06-29 02:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 02:00:00+00:00,58.64,72.30,76.60,77.1,77.6,77.8,77.6,76.8,75.0,72.30,68.99,65.89,62.53,59.85,57.26,55.98,54.47,2.0,0.0,0.0
2004-06-29 03:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 03:00:00+00:00,59.17,71.60,75.80,76.8,77.4,77.5,77.4,76.6,75.1,72.20,69.00,65.95,62.69,60.00,57.42,55.82,54.42,3.0,0.0,0.0
2004-06-29 04:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 04:00:00+00:00,58.30,71.00,75.00,76.4,77.3,77.4,77.2,76.4,74.8,72.00,69.15,66.15,62.59,59.79,57.32,55.98,54.42,4.0,0.0,0.0
2004-06-29 05:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 05:00:00+00:00,57.52,70.00,74.50,76.0,76.9,77.2,77.2,76.4,74.8,72.00,69.05,66.15,62.85,59.96,57.38,56.04,54.54,5.0,0.0,0.0
2004-06-29 06:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 06:00:00+00:00,57.54,69.71,74.10,75.6,76.6,77.2,77.0,76.1,74.5,72.10,69.05,66.10,62.85,60.11,57.33,55.88,54.48,6.0,0.0,0.0
2004-06-29 07:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 07:00:00+00:00,56.91,69.12,73.60,75.3,76.3,76.6,76.8,76.1,74.6,72.10,69.16,66.16,62.85,60.27,57.27,56.05,54.48,7.0,0.0,0.0
2004-06-29 08:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 08:00:00+00:00,55.87,68.37,73.20,74.7,76.0,76.4,76.5,76.1,74.4,72.00,69.22,66.21,62.75,60.11,57.65,55.89,54.54,8.0,0.0,0.0
2004-06-29 09:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 09:00:00+00:00,55.63,67.71,72.70,74.5,75.7,76.3,76.5,75.8,74.4,72.00,69.27,66.17,62.81,60.02,57.44,55.95,54.60,9.0,0.0,0.0
2004-06-29 10:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 10:00:00+00:00,54.94,66.42,72.20,74.1,75.3,76.2,76.3,75.7,74.4,72.00,69.02,66.07,63.02,60.13,57.60,56.05,54.55,10.0,0.0,0.0
2004-06-29 11:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 11:00:00+00:00,54.74,65.61,71.50,73.6,75.0,75.7,76.0,75.6,74.3,71.90,69.27,66.22,62.76,59.92,57.60,55.90,54.55,11.0,0.0,0.0
2004-06-29 12:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 12:00:00+00:00,54.31,65.36,70.90,73.2,74.7,75.4,75.6,75.4,74.2,71.90,69.17,66.22,62.97,60.39,57.55,56.07,54.71,12.0,0.0,0.0
2004-06-29 13:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 13:00:00+00:00,54.37,65.06,70.40,72.7,74.3,75.3,75.6,75.2,74.1,71.80,69.08,66.27,63.02,60.28,57.55,56.07,54.50,13.0,0.0,0.0
2004-06-29 14:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 14:00:00+00:00,54.22,65.26,69.83,72.2,73.7,74.7,75.3,75.3,74.1,71.90,69.18,66.07,62.87,60.23,57.76,56.01,54.66,14.0,0.0,0.0
2004-06-29 15:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 15:00:00+00:00,54.50,65.26,69.48,71.8,73.5,74.6,75.0,75.0,74.0,71.80,69.04,66.33,63.27,60.49,57.76,56.12,54.66,15.0,0.0,0.0
2004-06-29 16:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 16:00:00+00:00,55.06,65.62,69.53,71.5,73.2,74.3,74.7,74.8,73.9,71.70,69.09,66.32,63.02,60.39,57.82,56.33,54.98,16.0,0.0,0.0
2004-06-29 17:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 17:00:00+00:00,56.12,66.88,69.27,71.1,72.8,74.0,74.5,74.6,73.7,71.60,69.17,66.12,62.97,60.23,57.87,55.91,54.66,17.0,0.0,0.0
2004-06-29 18:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 18:00:00+00:00,58.04,69.46,69.46,71.2,72.7,73.5,74.2,74.6,73.7,71.70,69.02,66.37,63.17,60.39,57.71,56.32,54.77,18.0,0.0,0.0
2004-06-29 19:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 19:00:00+00:00,59.27,71.80,70.40,71.1,72.3,73.3,74.0,74.3,73.6,71.60,69.01,66.45,63.05,60.32,57.85,56.21,54.70,19.0,0.0,0.0
2004-06-29 20:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 20:00:00+00:00,61.70,74.70,71.10,71.4,72.4,73.3,73.7,74.1,73.3,71.60,69.15,66.20,62.99,60.41,57.90,56.30,54.69,20.0,0.0,0.0
2004-06-29 21:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 21:00:00+00:00,60.99,76.50,72.00,71.7,72.2,72.9,73.7,74.1,73.3,71.50,69.04,66.24,63.14,60.46,57.84,56.30,54.79,21.0,0.0,0.0
2004-06-29 22:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 22:00:00+00:00,62.88,78.30,73.00,72.3,72.5,73.1,73.4,73.9,73.2,71.50,68.98,66.28,63.18,60.40,57.99,56.61,54.94,22.0,0.0,0.0
2004-06-29 23:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 23:00:00+00:00,64.42,79.40,74.20,72.9,72.7,73.1,73.3,73.5,72.9,71.30,69.07,66.42,63.23,60.55,57.78,56.33,54.94,23.0,0.0,0.0

In [42]:
.loc[(df_reindex_test.year==2004)
                    & (df_reindex_test.month==6)
                    & (df_reindex_test.day.between(24,29))]

,year,month,day,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,hour,hours_flag,days_5_total_flag
2004-06-24 00:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 00:00:00+00:00,77.50,109.20,90.30,83.7,79.7,77.5,75.8,73.4,70.7,67.04,63.92,61.15,58.07,55.79,53.62,52.64,51.86,0.0,0.0,0.0
2004-06-24 01:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 01:00:00+00:00,75.50,109.00,92.20,85.3,80.9,78.2,75.9,73.2,70.5,67.19,64.15,61.03,57.90,55.82,53.67,52.68,51.74,1.0,0.0,0.0
2004-06-24 02:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 02:00:00+00:00,75.20,106.40,93.50,86.8,81.9,78.8,76.3,73.3,70.7,67.38,63.95,61.08,58.06,55.98,53.88,52.57,51.68,2.0,0.0,0.0
2004-06-24 03:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 03:00:00+00:00,73.40,103.10,94.00,87.9,82.9,79.5,76.8,73.5,70.6,67.43,64.15,61.19,58.06,55.93,53.88,52.68,51.57,3.0,0.0,0.0
2004-06-24 04:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 04:00:00+00:00,68.88,99.10,93.60,88.4,83.6,80.3,77.3,73.5,70.5,67.23,64.31,61.34,58.22,55.77,54.05,52.68,51.57,4.0,0.0,0.0
2004-06-24 05:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 05:00:00+00:00,67.82,93.40,92.80,88.5,84.4,80.9,77.6,73.6,70.6,67.51,64.22,61.20,58.28,56.05,53.96,53.02,51.87,5.0,0.0,0.0
2004-06-24 06:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 06:00:00+00:00,63.57,88.60,91.20,88.2,84.8,81.4,77.9,73.8,70.8,67.72,64.19,61.37,58.35,55.96,53.86,52.76,51.60,6.0,0.0,0.0
2004-06-24 07:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 07:00:00+00:00,58.71,82.70,89.30,87.8,84.8,81.6,78.5,74.1,70.9,67.65,64.02,61.20,58.27,55.95,54.16,52.62,51.63,7.0,0.0,0.0
2004-06-24 08:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 08:00:00+00:00,54.65,78.50,87.10,86.9,84.7,82.0,78.7,74.2,71.0,67.67,64.25,61.27,58.25,56.07,53.96,52.70,51.38,8.0,0.0,0.0
2004-06-24 09:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 09:00:00+00:00,51.83,75.50,84.90,85.6,84.3,81.9,78.9,74.4,70.9,67.55,64.47,61.55,58.32,56.09,53.93,52.73,51.84,9.0,0.0,0.0
2004-06-24 10:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 10:00:00+00:00,50.02,72.90,82.80,84.1,83.7,81.7,79.0,74.6,71.1,67.71,64.44,61.47,58.50,56.27,53.99,52.84,51.80,10.0,0.0,0.0
2004-06-24 11:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 11:00:00+00:00,48.22,70.50,81.00,83.0,82.9,81.6,79.0,74.6,71.1,67.78,64.61,61.54,58.61,56.17,54.06,53.02,51.81,11.0,0.0,0.0
2004-06-24 12:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 12:00:00+00:00,45.89,68.64,79.00,81.6,82.1,81.2,79.0,74.7,71.2,67.74,64.67,61.69,58.72,56.33,54.07,52.97,51.93,12.0,0.0,0.0
2004-06-24 13:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 13:00:00+00:00,44.56,66.85,77.50,80.3,81.4,80.6,78.6,74.9,71.5,68.04,64.52,61.55,58.63,56.35,54.19,53.04,51.99,13.0,0.0,0.0
2004-06-24 14:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 14:00:00+00:00,48.84,66.75,75.70,78.9,80.3,79.9,78.6,75.1,71.5,68.05,64.78,61.66,58.58,56.35,54.19,52.99,51.88,14.0,0.0,0.0
2004-06-24 15:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 15:00:00+00:00,50.09,68.05,74.70,77.8,79.4,79.4,78.3,75.1,71.6,68.05,64.72,61.76,58.74,56.35,54.19,53.04,51.83,15.0,0.0,0.0
2004-06-24 16:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 16:00:00+00:00,51.55,69.89,74.30,77.1,78.7,78.7,77.9,75.3,71.9,68.29,64.62,61.81,58.94,56.61,54.02,53.04,51.88,16.0,0.0,0.0
2004-06-24 17:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 17:00:00+00:00,55.94,74.80,74.30,76.3,77.8,78.4,77.7,75.0,71.9,68.29,64.71,61.79,58.88,56.39,54.23,53.14,51.88,17.0,0.0,0.0
2004-06-24 18:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 18:00:00+00:00,63.47,81.00,75.00,76.0,77.2,77.7,77.4,75.0,71.8,68.36,64.94,61.93,58.81,56.53,54.27,53.12,51.91,18.0,0.0,0.0
2004-06-24 19:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 19:00:00+00:00,66.97,87.70,76.90,76.4,77.0,77.3,76.9,74.8,71.9,68.18,65.02,62.06,58.89,56.35,54.35,52.93,51.82,19.0,0.0,0.0
2004-06-24 20:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 20:00:00+00:00,70.10,93.00,79.30,77.1,76.8,76.9,76.7,74.8,72.0,68.51,64.95,61.98,58.91,56.71,54.39,53.08,51.98,20.0,0.0,0.0
2004-06-24 21:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 21:00:00+00:00,72.10,98.00,81.70,78.5,77.2,77.0,76.4,74.5,71.8,68.40,65.29,62.17,58.79,56.63,54.48,53.00,52.07,21.0,0.0,0.0
2004-06-24 22:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 22:00:00+00:00,74.00,103.70,84.40,79.8,77.8,77.0,76.2,74.5,72.0,68.63,65.16,62.11,59.05,56.72,54.41,53.21,52.20,22.0,0.0,0.0
2004-06-24 23:00:00+00:00,2004.0,6.0,24.0,128,2004-06-24 23:00:00+00:00,74.40,106.80,87.00,81.3,78.4,77.2,76.2,74.4,71.9,68.81,65.30,62.00,58.82,56.61,54.56,53.09,51.88,23.0,0.0,0.0
2004-06-25 00:00:00+00:00,2004.0,6.0,25.0,128,NaT,73.40,106.80,89.40,83.0,79.5,77.6,76.2,74.3,72.0,68.72,65.35,62.24,58.87,56.65,54.34,53.36,52.26,0.0,1.0,0.0
2004-06-25 01:00:00+00:00,2004.0,6.0,25.0,128,NaT,72.70,104.90,91.00,84.7,80.5,78.2,76.4,74.3,72.0,68.90,65.40,62.09,58.93,56.70,54.50,53.08,51.92,1.0,1.0,0.0
2004-06-25 02:00:00+00:00,2004.0,6.0,25.0,128,NaT,72.30,102.20,91.80,85.9,81.4,78.8,76.9,74.3,71.8,68.75,65.50,62.29,59.12,56.75,54.45,53.29,51.81,2.0,1.0,0.0
2004-06-25 03:00:00+00:00,2004.0,6.0,25.0,128,NaT,71.50,99.20,91.90,86.8,82.6,79.7,77.0,74.3,71.9,68.70,65.40,62.40,59.28,56.81,54.66,53.29,52.03,3.0,1.0,0.0
2004-06-25 04:00:00+00:00,2004.0,6.0,25.0,128,NaT,72.80,96.90,91.80,87.4,83.4,80.2,77.4,74.3,71.8,68.70,65.49,62.43,59.28,56.80,54.60,53.29,52.08,4.0,1.0,0.0
2004-06-25 05:00:00+00:00,2004.0,6.0,25.0,128,NaT,66.78,93.00,91.00,87.4,83.8,80.8,77.9,74.5,71.8,68.79,65.38,62.58,59.43,57.01,54.70,53.23,52.08,5.0,1.0,0.0
2004-06-25 06:00:00+00:00,2004.0,6.0,25.0,128,NaT,63.83,86.80,90.00,87.4,84.1,81.2,78.2,74.5,71.7,68.81,65.66,62.56,59.34,56.60,54.68,53.42,52.21,6.0,1.0,0.0
2004-06-25 07:00:00+00:00,2004.0,6.0,25.0,128,NaT,58.94,81.80,88.20,86.8,84.2,81.4,78.6,74.8,71.9,69.04,65.69,62.33,59.22,56.85,54.91,53.34,52.13,7.0,1.0,0.0
2004-06-25 08:00:00+00:00,2004.0,6.0,25.0,128,NaT,55.50,78.00,86.10,86.0,84.1,81.7,78.8,74.8,71.8,68.88,65.51,62.56,59.55,57.13,54.83,53.47,52.27,8.0,1.0,0.0
2004-06-25 09:00:00+00:00,2004.0,6.0,25.0,128,NaT,52.77,75.00,84.00,84.8,83.6,81.6,79.2,75.2,72.1,68.94,65.58,62.58,59.58,57.05,54.68,53.49,52.22,9.0,1.0,0.0
2004-06-25 10:00:00+00:00,2004.0,6.0,25.0,128,NaT,49.88,72.50,82.10,83.5,83.1,81.5,79.1,75.2,72.0,68.80,65.80,62.65,59.44,56.96,54.91,53.61,52.29,10.0,1.0,0.0
2004-06-25 11:00:00+00:00,2004.0,6.0,25.0,128,NaT,48.47,70.20,80.20,82.3,82.3,81.3,79.2,75.3,72.1,68.87,65.71,62.71,59.56,57.02,54.87,53.46,52.25,11.0,1.0,0.0
2004-06-25 12:00:00+00:00,2004.0,6.0,25.0,128,NaT,46.09,68.34,78.50,81.0,81.5,80.8,79.2,75.5,72.3,69.04,65.68,62.83,59.77,57.24,54.78,53.68,52.37,12.0,1.0,0.0
2004-06-25 13:00:00+00:00,2004.0,6.0,25.0,128,NaT,45.07,66.75,76.80,79.7,80.8,80.4,78.9,75.6,72.3,69.04,65.89,62.83,59.63,57.04,54.89,53.54,52.10,13.0,1.0,0.0
2004-06-25 14:00:00+00:00,2004.0,6.0,25.0,128,NaT,45.70,65.69,75.60,78.7,80.0,79.9,78.7,75.6,72.5,69.05,65.79,62.79,59.84,57.21,54.85,53.71,52.39,14.0,1.0,0.0
2004-06-25 15:00:00+00:00,2004.0,6.0,25.0,128,NaT,48.66,65.29,74.30,77.3,78.9,79.2,78.6,75.7,72.6,69.20,65.80,62.84,59.79,57.27,54.85,53.71,52.44,15.0,1.0,0.0
2004-06-25 16:00:00+00:00,2004.0,6.0,25.0,128,NaT,53.57,68.80,73.20,76.5,78.3,78.8,78.0,75.6,72.5,69.44,65.88,62.93,59.88,57.41,54.94,53.64,52.00,16.0,1.0,0.0
2004-06-28 17:00:00+00:00,2004.0,6.0,28.0,128,NaT,57.67,72.50,75.90,78.2,79.6,80.2,79.9,77.8,75.3,72.00,68.72,65.71,62.36,59.66,57.08,55.46,54.39,17.0,1.0,0.0
2004-06-28 18:00:00+00:00,2004.0,6.0,28.0,128,NaT,58.35,74.90,75.80,77.6,79.1,79.7,79.5,77.8,75.2,72.10,68.81,65.65,62.44,59.70,57.17,55.68,54.27,18.0,1.0,0.0
2004-06-28 19:00:00+00:00,2004.0,6.0,28.0,128,NaT,59.47,77.20,76.40,77.4,78.6,79.2,79.3,77.8,75.4,72.20,68.70,65.65,62.59,59.79,57.06,55.61,54.16,19.0,1.0,0.0
2004-06-28 20:00:00+00:00,2004.0,6.0,28.0,128,NaT,58.93,75.10,76.90,77.6,78.5,79.0,78.8,77.6,75.2,72.10,69.00,65.75,62.33,59.64,57.27,55.61,54.20,20.0,1.0,0.0
2004-06-28 21:00:00+00:00,2004.0,6.0,28.0,128,NaT,60.66,75.90,76.70,77.6,78.3,78.8,78.6,77.3,75.1,72.10,68.95,65.89,62.54,59.64,57.11,55.61,54.26,21.0,1.0,0.0
2004-06-28 22:00:00+00:00,2004.0,6.0,28.0,128,NaT,59.70,74.70,76.80,77.4,78.1,78.5,78.3,77.2,75.2,72.10,68.94,65.89,62.58,59.89,57.05,55.76,53.98,22.0,1.0,0.0
2004-06-28 23:00:00+00:00,2004.0,6.0,28.0,128,NaT,60.27,74.90,76.60,77.3,77.9,78.1,78.3,77.2,75.1,72.20,68.99,65.84,62.58,59.84,57.20,55.76,54.20,23.0,1.0,0.0
2004-06-29 00:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 00:00:00+00:00,61.70,75.60,76.60,77.3,77.8,78.0,77.9,77.0,75.2,72.20,68.94,65.88,62.63,59.89,57.36,55.71,54.25,0.0,0.0,0.0
2004-06-29 01:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 01:00:00+00:00,60.17,75.90,76.50,77.2,77.7,77.9,77.7,76.8,74.9,72.00,69.18,66.13,62.68,59.99,57.20,55.87,54.20,1.0,0.0,0.0
2004-06-29 02:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 02:00:00+00:00,58.64,72.30,76.60,77.1,77.6,77.8,77.6,76.8,75.0,72.30,68.99,65.89,62.53,59.85,57.26,55.98,54.47,2.0,0.0,0.0
2004-06-29 03:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 03:00:00+00:00,59.17,71.60,75.80,76.8,77.4,77.5,77.4,76.6,75.1,72.20,69.00,65.95,62.69,60.00,57.42,55.82,54.42,3.0,0.0,0.0
2004-06-29 04:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 04:00:00+00:00,58.30,71.00,75.00,76.4,77.3,77.4,77.2,76.4,74.8,72.00,69.15,66.15,62.59,59.79,57.32,55.98,54.42,4.0,0.0,0.0
2004-06-29 05:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 05:00:00+00:00,57.52,70.00,74.50,76.0,76.9,77.2,77.2,76.4,74.8,72.00,69.05,66.15,62.85,59.96,57.38,56.04,54.54,5.0,0.0,0.0
2004-06-29 06:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 06:00:00+00:00,57.54,69.71,74.10,75.6,76.6,77.2,77.0,76.1,74.5,72.10,69.05,66.10,62.85,60.11,57.33,55.88,54.48,6.0,0.0,0.0
2004-06-29 07:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 07:00:00+00:00,56.91,69.12,73.60,75.3,76.3,76.6,76.8,76.1,74.6,72.10,69.16,66.16,62.85,60.27,57.27,56.05,54.48,7.0,0.0,0.0
2004-06-29 08:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 08:00:00+00:00,55.87,68.37,73.20,74.7,76.0,76.4,76.5,76.1,74.4,72.00,69.22,66.21,62.75,60.11,57.65,55.89,54.54,8.0,0.0,0.0
2004-06-29 09:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 09:00:00+00:00,55.63,67.71,72.70,74.5,75.7,76.3,76.5,75.8,74.4,72.00,69.27,66.17,62.81,60.02,57.44,55.95,54.60,9.0,0.0,0.0
2004-06-29 10:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 10:00:00+00:00,54.94,66.42,72.20,74.1,75.3,76.2,76.3,75.7,74.4,72.00,69.02,66.07,63.02,60.13,57.60,56.05,54.55,10.0,0.0,0.0
2004-06-29 11:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 11:00:00+00:00,54.74,65.61,71.50,73.6,75.0,75.7,76.0,75.6,74.3,71.90,69.27,66.22,62.76,59.92,57.60,55.90,54.55,11.0,0.0,0.0
2004-06-29 12:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 12:00:00+00:00,54.31,65.36,70.90,73.2,74.7,75.4,75.6,75.4,74.2,71.90,69.17,66.22,62.97,60.39,57.55,56.07,54.71,12.0,0.0,0.0
2004-06-29 13:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 13:00:00+00:00,54.37,65.06,70.40,72.7,74.3,75.3,75.6,75.2,74.1,71.80,69.08,66.27,63.02,60.28,57.55,56.07,54.50,13.0,0.0,0.0
2004-06-29 14:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 14:00:00+00:00,54.22,65.26,69.83,72.2,73.7,74.7,75.3,75.3,74.1,71.90,69.18,66.07,62.87,60.23,57.76,56.01,54.66,14.0,0.0,0.0
2004-06-29 15:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 15:00:00+00:00,54.50,65.26,69.48,71.8,73.5,74.6,75.0,75.0,74.0,71.80,69.04,66.33,63.27,60.49,57.76,56.12,54.66,15.0,0.0,0.0
2004-06-29 16:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 16:00:00+00:00,55.06,65.62,69.53,71.5,73.2,74.3,74.7,74.8,73.9,71.70,69.09,66.32,63.02,60.39,57.82,56.33,54.98,16.0,0.0,0.0
2004-06-29 17:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 17:00:00+00:00,56.12,66.88,69.27,71.1,72.8,74.0,74.5,74.6,73.7,71.60,69.17,66.12,62.97,60.23,57.87,55.91,54.66,17.0,0.0,0.0
2004-06-29 18:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 18:00:00+00:00,58.04,69.46,69.46,71.2,72.7,73.5,74.2,74.6,73.7,71.70,69.02,66.37,63.17,60.39,57.71,56.32,54.77,18.0,0.0,0.0
2004-06-29 19:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 19:00:00+00:00,59.27,71.80,70.40,71.1,72.3,73.3,74.0,74.3,73.6,71.60,69.01,66.45,63.05,60.32,57.85,56.21,54.70,19.0,0.0,0.0
2004-06-29 20:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 20:00:00+00:00,61.70,74.70,71.10,71.4,72.4,73.3,73.7,74.1,73.3,71.60,69.15,66.20,62.99,60.41,57.90,56.30,54.69,20.0,0.0,0.0
2004-06-29 21:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 21:00:00+00:00,60.99,76.50,72.00,71.7,72.2,72.9,73.7,74.1,73.3,71.50,69.04,66.24,63.14,60.46,57.84,56.30,54.79,21.0,0.0,0.0
2004-06-29 22:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 22:00:00+00:00,62.88,78.30,73.00,72.3,72.5,73.1,73.4,73.9,73.2,71.50,68.98,66.28,63.18,60.40,57.99,56.61,54.94,22.0,0.0,0.0
2004-06-29 23:00:00+00:00,2004.0,6.0,29.0,128,2004-06-29 23:00:00+00:00,64.42,79.40,74.20,72.9,72.7,73.1,73.3,73.5,72.9,71.30,69.07,66.42,63.23,60.55,57.78,56.33,54.94,23.0,0.0,0.0

___

In [32]:
df_group = df.groupby(['SITE_NUMBER','year','month']).mean().reset_index()

In [33]:
df_group.pivot(index='year', columns=['month'], values='TMR_SUB_18').style.highlight_max(axis=0, color='green').highlight_min(axis=0, color='yellow')

In [ ]:
df_group.pivot(index='year', columns=['month'], values='TMR_SUB_18').to_csv('temp_data_128_test.csv')

In [ ]:
df_2004_6 = df.loc[(df.year==2004) & (df.month==6)]

In [ ]:
df_2004_6.groupby(['year','month'])['day'].unique().values

In [ ]:
df_128_all_18_group_pivot = df_128_all_18_group.pivot(index='year', columns=['month'], values='TMR_SUB_18')

In [ ]:
df_128_all_18_group_pivot.style.highlight_max(axis=0, color='green').highlight_min(axis=0, color='yellow')

In [ ]:
px.line(x=, y=, color=)

In [ ]:
# Get data
data = pd.read_csv(r'C:\Users\ejmason\Desktop\THIGNS\Temperature Data Scripts\TDP_2017_entire.csv')

In [ ]:
# data to dataframe to organize structure
data = pd.DataFrame(data, columns=['SITE_NUMBER','OBSERVATION_TIME','REF_TEMP','AMBIENT_AIR_TEMP','IN_PAVEMENT_TEMP','INTERNAL_TEMP','BATTERY_VOLTAGE','TMR_PAV','TMR_SUB_0','TMR_SUB_3','TMR_SUB_6','TMR_SUB_9','TMR_SUB_12','TMR_SUB_18','TMR_SUB_24','TMR_SUB_30','TMR_SUB_36','TMR_SUB_42','TMR_SUB_48','TMR_SUB_54','TMR_SUB_60','TMR_SUB_66','TMR_SUB_72','TIMEZONE_FLAG'])

In [ ]:
# drop unnecessary rows
data = data.drop(['REF_TEMP', 'IN_PAVEMENT_TEMP', 'INTERNAL_TEMP', 'BATTERY_VOLTAGE', 'TIMEZONE_FLAG'], axis=1)

#### This next block likely won't be necessary but the steps may be useful

In [ ]:
# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# diffgroup = data.drop(['IN_PAVEMENT_TEMP', 'TMR_PAV'], axis=1)

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# diffgroup[np.logical_or(diffgroup.diff(axis=1) == 0, diffgroup.diff(axis=1, periods=-1) == 0)] = np.nan

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# diffgroup.head(20)

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# data.head(20)

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# frames = data.columns.difference(diffgroup.columns)

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# newdata = diffgroup.merge(data[frames], left_index=True, right_index=True, how='outer')

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# cols = newdata.columns

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# newdata = newdata[['SITE_NUMBER','OBSERVATION_TIME','AMBIENT_AIR_TEMP','IN_PAVEMENT_TEMP','TMR_PAV','TMR_SUB_0','TMR_SUB_3','TMR_SUB_6','TMR_SUB_9','TMR_SUB_12','TMR_SUB_18','TMR_SUB_24','TMR_SUB_30','TMR_SUB_36','TMR_SUB_42','TMR_SUB_48','TMR_SUB_54','TMR_SUB_60','TMR_SUB_66','TMR_SUB_72']]

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# newdata.isnull().sum()

# Only necessary if IN_PAVEMENT_TEMP and TMR_PAV are BOTH still present in DataFrame

# data = newdata

Get the count and null values (which is 0, since the sensors won't produce a null value)

In [ ]:
print(f'Total Count : {data.shape[0]}')
print(data.isnull().sum())

In [ ]:
"""
replace all error values with np.nan or NaN 
(pandas/numpy's "null")
"""

data.replace(to_replace=['-9999.000000', 
                         '-9999.0', 
                         '-9999.00',
                         '-9999.000', 
                         -9999.00, 
                         -9999.000000, 
                         -9999.0,
                         -6999.0,
                         -6999.00,
                         -6999.000,
                         -6999.000000,
                         -9999.000], value=np.nan, inplace=True)

print(data.isnull().sum())

##### Many of the sensors have error codes that could be likely values, the only way to tell is that the values repeat themselves among sensor depth

In [ ]:
# isolate sensor depth columns
sensors_df = data.iloc[:, 2:]

In [ ]:
sensors_df.isnull().sum()

In [ ]:
# isolate rows that have duplicates between columns
sensor_dup = sensors_df[np.logical_or(sensors_df.diff(axis=1) == 0, sensors_df.diff(axis=1, periods=-1) == 0)]

In [ ]:
sensor_dup.shape[0]

In [ ]:
sensor_dup_clean = sensor_dup.dropna()
sensor_dup_clean.shape[0]

In [ ]:
sensor_dup_clean.isnull().sum()

#### replace all duplicated sensor values with nulls and merge to get matching dataframe to original dataframe

In [ ]:
sensors_df[np.logical_or(sensors_df.diff(axis=1) == 0, sensors_df.diff(axis=1, periods=-1) == 0)] = np.nan

In [ ]:
cols = data.iloc[:, :2]
cols

In [ ]:
df = sensors_df.merge(cols, left_index=True, right_index=True)

#### Organize Columns

In [ ]:
df_cols = df.columns.tolist()

df_cols = df_cols[-2:] + df_cols[:-2]

df = df[df_cols]

In [ ]:
df

#### Back to the main data

In [ ]:
# df.head().to_html()

#### Convert observation_time to DateTime

In [ ]:
df.OBSERVATION_TIME = pd.to_datetime(df['OBSERVATION_TIME'])

In [ ]:
df.isnull().sum()

### convert questionable values in each individual column to null "np.nan" or "NaN"

In [ ]:
# next comment is secondary attempt that uses masking, but could not get to function
# data['TMR_PAV'] = np.where(data.loc[(data['TMR_PAV'] >= 150) | (data['TMR_PAV'] <= -50)],np.nan,data['TMR_PAV']
# TMR_PAV
df['TMR_PAV'] = np.where((df['TMR_PAV'] >= 110) | (df['TMR_PAV'] <= -30),np.nan,df['TMR_PAV'])  

# AMBIENT_AIR_TEMP
df['AMBIENT_AIR_TEMP'] = np.where((df['AMBIENT_AIR_TEMP'] >= 105) | (df['AMBIENT_AIR_TEMP'] <= -55),
                                    np.nan,df['AMBIENT_AIR_TEMP'])

# IN_PAVEMENT_TEMP (Only if included)
# data['IN_PAVEMENT_TEMP'] = np.where((data['IN_PAVEMENT_TEMP'] >= 110) | (data['IN_PAVEMENT_TEMP'] <= -30),
#                                     np.nan,data['IN_PAVEMENT_TEMP'])

# TMR_SUB_0
df['TMR_SUB_0'] = np.where((df['TMR_SUB_0'] >= 110) | (df['TMR_SUB_0'] <= -25),
                                    np.nan,df['TMR_SUB_0'])

# TMR_SUB_3
df['TMR_SUB_3'] = np.where((df['TMR_SUB_3'] >= 100) | (df['TMR_SUB_3'] <= -20),
                                    np.nan,df['TMR_SUB_3'])

# TMR_SUB_6

df['TMR_SUB_6'] = np.where((df['TMR_SUB_6'] >= 95) | (df['TMR_SUB_6'] <= -15),
                                    np.nan,df['TMR_SUB_6'])

# TMR_SUB_9 

df['TMR_SUB_9'] = np.where((df['TMR_SUB_9'] >= 90) | (df['TMR_SUB_9'] <= -15),
                                    np.nan,df['TMR_SUB_9'])

# TMR_SUB_12
df['TMR_SUB_12'] = np.where((df['TMR_SUB_12'] >= 85) | (df['TMR_SUB_12'] <= -10),
                                    np.nan,df['TMR_SUB_12'])

# TMR_SUB_18
df['TMR_SUB_18'] = np.where((df['TMR_SUB_18'] >= 85) | (df['TMR_SUB_18'] <= -10),
                                    np.nan,df['TMR_SUB_18'])

# TMR_SUB_24
df['TMR_SUB_24'] = np.where((df['TMR_SUB_24'] >= 85) | (df['TMR_SUB_24'] <= -10),
                                    np.nan,df['TMR_SUB_24'])

# TMR_SUB_30
df['TMR_SUB_30'] = np.where((df['TMR_SUB_30'] >= 80) | (df['TMR_SUB_30'] <= -5),
                                    np.nan,df['TMR_SUB_30'])

# TMR_SUB_36
df['TMR_SUB_36'] = np.where((df['TMR_SUB_36'] >= 80) | (df['TMR_SUB_36'] <= -5),
                                    np.nan,df['TMR_SUB_36'])

# TMR_SUB_42
df['TMR_SUB_42'] = np.where((df['TMR_SUB_42'] >= 75) | (df['TMR_SUB_42'] <= 0),
                                    np.nan,df['TMR_SUB_42'])

# TMR_SUB_48
df['TMR_SUB_48'] = np.where((df['TMR_SUB_48'] >= 70) | (df['TMR_SUB_48'] <= 0),
                                    np.nan,df['TMR_SUB_48'])

# TMR_SUB_54
df['TMR_SUB_54'] = np.where((df['TMR_SUB_54'] >= 70) | (df['TMR_SUB_54'] <= 5),
                                    np.nan,df['TMR_SUB_54'])

# TMR_SUB_60
df['TMR_SUB_60'] = np.where((df['TMR_SUB_60'] >= 70) | (df['TMR_SUB_60'] <= 5),
                                    np.nan,df['TMR_SUB_60'])

# TMR_SUB_66
df['TMR_SUB_66'] = np.where((df['TMR_SUB_66'] >= 65) | (df['TMR_SUB_66'] <= 10),
                                    np.nan,df['TMR_SUB_66'])

# TMR_SUB_72
df['TMR_SUB_72'] = np.where((df['TMR_SUB_72'] >= 65) | (df['TMR_SUB_72'] <= 10),
                                    np.nan,df['TMR_SUB_72'])

In [ ]:
# Verify null values and compare with original dataFrame isnull().sum() values which should have been 0
df.isnull().sum()

In [ ]:
df['year'] = df.OBSERVATION_TIME.dt.year

In [ ]:
df['month'] = df.OBSERVATION_TIME.dt.month

In [ ]:
df

In [ ]:
collist = df.columns.tolist()

In [ ]:
col1 = collist[:2]

In [ ]:
col2 = collist[-2:]

In [ ]:
col3 = collist[2:-2]

In [ ]:
colcombine = col1 + col2 + col3

In [ ]:
df = df[colcombine]

In [ ]:
df

### Begin Grouping

#### 128	Seward Highway @ Moose Pass MP 32	MOP

In [ ]:
df_128 = df.loc[df['SITE_NUMBER']==128]

In [ ]:
col128 = df.columns.tolist()

In [ ]:
col128_1 = col128[:4]
col128_1

In [ ]:
col128_2 = col128[11:12]
col128_2

In [ ]:
col128list = col128_1 + col128_2

In [ ]:
df_128 = df_128[col128list]

In [ ]:
df_128

In [ ]:
df_128.groupby(['SITE_NUMBER', 'month']).mean()

In [ ]:
df_128_mean = df_128.groupby(['SITE_NUMBER', 'month']).mean().reset_index()

In [ ]:
df_128_mean.TMR_SUB_18.plot(legend=True, title='Moose Pass')

In [ ]:
import seaborn as sns

In [ ]:
sns.lineplot(data=df_128_mean, x="month", y="TMR_SUB_18").set_title("Moose Pass Station");

In [ ]:
# Kaggle API - pip install kaggle or conda install -c conda-forge kaggle

from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [ ]:
# download data - this will download the indicated file to the workspace in which the notebook resides

dataset = 'erikjamesmason/akdot-tdp-temperature-data-probes'
datafile = 'TDP_2002_entire.csv'
api.dataset_download_files(dataset,datafile)

In [ ]:
datagroup_site = df.groupby(['SITE_NUMBER', 'OBSERVATION_TIME'])

In [ ]:
dg_site_mean = datagroup_site.mean()

In [ ]:
datagroup_site

In [ ]:
datagroup_site.head()

In [ ]:
dg_site_mean.head()

In [ ]:
df.groupby(['SITE_NUMBER','month']).mean()

In [ ]:
dg_site_max = datagroup_site.max()

In [ ]:
dg_site_max.head()

In [ ]:
dg_site_min = datagroup_site.min()

In [ ]:
dg_site_min.head()

In [ ]:
datagroup_site2 = data.groupby(['SITE_NUMBER', 'OBSERVATION_TIME']).mean().reset_index()

In [ ]:
datagroup_site2.head()

In [ ]:
data.head()

In [ ]:
data.to_csv(r'C:\Users\ejmason\Desktop\THIGNS\Temperature Data Scripts\TDP_DF_Nulls_Update.csv', header=True)

In [ ]:
dg_site_min.to_csv(r'U:\Erik Planning\Coding\TDP_DF_Min.csv', header=True)

In [ ]:
dgs_stat = datagroup_site.agg(['min', 'max', 'mean'])

In [ ]:
dgs_stat.head()

In [ ]:
dgs_stat.to_csv(r'U:\Erik Planning\Coding\TDP_DF_test.csv', header=True)

In [ ]:
# dgs = datagroup_site.agg([np.mean, np.min, np.max, len ])

In [ ]:
# dgs

In [ ]:
# cols = data.columns

In [ ]:
# datagroup_site.describe()

In [ ]:
data.head()

In [ ]:
type(data)

In [ ]:
!pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org firebase

In [ ]:
import firebase
firebase = firebase.FirebaseApplication('https://temperature-data-probes-default-rtdb.firebaseio.com/', None)
result = firebase.get('/temperature-data-probes-default-rtdb', None)

In [ ]:
result