# Imports

In [2]:
import pandas as pd
import numpy as np
import pathlib
import calendar
import pickle
import plotly.express as px
import plotly.graph_objects as go
import plotly
import json

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Load Data

In [2]:
filename = "df_128.pkl" # this is a cleaned DF with nulls
df_128 = pd.read_pickle(filename)

df_128.sort_values('OBSERVATION_TIME', inplace=True)

# drop unnecessary rows
df_128 = df_128.drop(['REF_TEMP', 'IN_PAVEMENT_TEMP', 'INTERNAL_TEMP', 'BATTERY_VOLTAGE'], axis=1)

In [3]:
filename = "df_all_clean_all_stations.pkl" # this is a cleaned DF with nulls
df_all = pd.read_pickle(filename)

df_all.sort_values('OBSERVATION_TIME', inplace=True)

# drop unnecessary rows
# df_128 = df_128.drop(['REF_TEMP', 'IN_PAVEMENT_TEMP', 'INTERNAL_TEMP', 'BATTERY_VOLTAGE'], axis=1)
df_all.head()

,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72
0,110,2002-04-16 19:00:00+00:00,35.45,75.40,78.70,81.00,83.00,84.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,110,2002-04-16 20:00:00+00:00,34.99,33.32,49.20,58.37,63.12,66.61,69.47,71.70,73.60,75.10,76.20,NaN,NaN,NaN,NaN,NaN,NaN
2,110,2002-04-16 21:00:00+00:00,36.09,53.76,62.26,67.21,71.20,73.70,75.70,77.30,78.90,79.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,110,2002-04-16 22:00:00+00:00,36.38,39.76,30.97,30.90,30.55,30.41,30.41,30.48,30.69,31.59,31.86,32.21,32.41,32.61,33.02,33.69,34.02
4,110,2002-04-16 23:00:00+00:00,37.47,42.89,30.98,30.90,30.62,30.41,30.34,30.41,30.69,31.53,31.87,32.21,32.34,32.69,33.02,33.62,34.02

In [4]:
df_all.head()

,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72
0,110,2002-04-16 19:00:00+00:00,35.45,75.40,78.70,81.00,83.00,84.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,110,2002-04-16 20:00:00+00:00,34.99,33.32,49.20,58.37,63.12,66.61,69.47,71.70,73.60,75.10,76.20,NaN,NaN,NaN,NaN,NaN,NaN
2,110,2002-04-16 21:00:00+00:00,36.09,53.76,62.26,67.21,71.20,73.70,75.70,77.30,78.90,79.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,110,2002-04-16 22:00:00+00:00,36.38,39.76,30.97,30.90,30.55,30.41,30.41,30.48,30.69,31.59,31.86,32.21,32.41,32.61,33.02,33.69,34.02
4,110,2002-04-16 23:00:00+00:00,37.47,42.89,30.98,30.90,30.62,30.41,30.34,30.41,30.69,31.53,31.87,32.21,32.34,32.69,33.02,33.62,34.02

# Arrays Test

In [30]:
data_test = df_128.copy()

In [20]:
data_test.OBSERVATION_TIME = data_test.OBSERVATION_TIME.to_string()

In [24]:
data_test.dropna(inplace=True)

In [25]:
data_test.isnull().sum().sum()

0

In [33]:
data_test = data_test.values

data_test[:1]

In [57]:
print(len(data_test))

print(df_128.shape[0])

110581

In [38]:
import sys

sys.getsizeof(df_128)

sys.getsizeof(data_test)

In [ ]:
# np.save('df_128_array.npy', data_test)
# df_128_array = np.load('df_128_array.npy')

In [48]:
data_test_back = pd.DataFrame(data_test)

In [49]:
data_test_back.dtypes

0                  object
1     datetime64[ns, UTC]
2                  object
3                  object
4                  object
5                  object
6                  object
7                  object
8                  object
9                  object
10                 object
11                 object
12                 object
13                 object
14                 object
15                 object
16                 object
17                 object
18                 object
dtype: object

In [51]:
data_test_back_dtypes = data_test_back.convert_dtypes()

In [53]:
data_test_back_dtypes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110581 entries, 0 to 110580
Data columns (total 19 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       110581 non-null  string
 1   1       110581 non-null  datetime64[ns, UTC]
 2   2       108054 non-null  Float64
 3   3       106285 non-null  Float64
 4   4       110523 non-null  Float64
 5   5       110463 non-null  Float64
 6   6       110416 non-null  Float64
 7   7       110384 non-null  Float64
 8   8       110419 non-null  Float64
 9   9       110454 non-null  Float64
 10  10      110450 non-null  Float64
 11  11      110481 non-null  Float64
 12  12      110470 non-null  Float64
 13  13      110497 non-null  Float64
 14  14      110553 non-null  Float64
 15  15      110555 non-null  Float64
 16  16      110481 non-null  Float64
 17  17      110436 non-null  Float64
 18  18      110579 non-null  Float64
dtypes: Float64(17), datetime64[ns, UTC](1), string(1)
memory usage: 17.8 MB

In [54]:
data_test_back_dtypes.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,128,2003-01-31 02:00:00+00:00,31.31,31.93,31.85,31.57,31.07,31.07,31.00,30.72,30.86,31.43,31.43,31.92,33.03,33.73,34.41,34.88,35.02
1,128,2003-01-31 03:00:00+00:00,34.11,31.37,32.07,32.14,31.51,30.94,31.23,30.80,30.80,31.09,31.51,32.07,32.42,33.60,34.08,34.76,35.10
2,128,2003-01-31 04:00:00+00:00,32.83,30.87,31.79,31.58,31.30,31.16,30.87,30.52,30.66,30.94,31.51,32.14,32.21,33.74,34.22,34.63,35.30
3,128,2003-01-31 05:00:00+00:00,32.47,31.37,32.15,31.79,31.51,31.37,31.02,30.80,30.80,31.02,31.23,31.73,32.50,33.54,34.29,34.83,35.30
4,128,2003-01-31 06:00:00+00:00,33.89,31.38,32.01,31.80,31.73,31.37,30.80,30.52,30.59,30.87,31.80,32.15,32.64,33.61,34.29,34.83,35.17

In [46]:
del data_test_back

In [55]:
del data_test_back_dtypes

# Datetime

In [5]:
def datetime_parse(df):

    df['year'] = df.OBSERVATION_TIME.dt.year
    df['month'] = df.OBSERVATION_TIME.dt.month
    
    df['day'] = df.OBSERVATION_TIME.dt.day
    df['hour'] = df.OBSERVATION_TIME.dt.hour
    
    return df

In [4]:
df = datetime_parse(df_128)

In [14]:
df_all = datetime_parse(df_all)

In [15]:
df_all.head()

,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,year,month,day,hour
0,110,2002-04-16 19:00:00+00:00,35.45,75.40,78.70,81.00,83.00,84.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002,4,16,19
1,110,2002-04-16 20:00:00+00:00,34.99,33.32,49.20,58.37,63.12,66.61,69.47,71.70,73.60,75.10,76.20,NaN,NaN,NaN,NaN,NaN,NaN,2002,4,16,20
2,110,2002-04-16 21:00:00+00:00,36.09,53.76,62.26,67.21,71.20,73.70,75.70,77.30,78.90,79.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002,4,16,21
3,110,2002-04-16 22:00:00+00:00,36.38,39.76,30.97,30.90,30.55,30.41,30.41,30.48,30.69,31.59,31.86,32.21,32.41,32.61,33.02,33.69,34.02,2002,4,16,22
4,110,2002-04-16 23:00:00+00:00,37.47,42.89,30.98,30.90,30.62,30.41,30.34,30.41,30.69,31.53,31.87,32.21,32.34,32.69,33.02,33.62,34.02,2002,4,16,23

In [ ]:
df.loc[(df.year==2004)
                    & (df.month==6)
                    & (df.day.between(24,29))]

https://stackoverflow.com/questions/50809594/remove-all-rows-in-pandas-dataframe-with-n-or-more-consecutive-nans

There's an issue between various influences of the state of a missed/flagged/null date, 
may need to employ this cell below to check for **ALL** missing dates 

https://stackoverflow.com/questions/52044348/check-for-any-missing-dates-in-the-index

https://stackoverflow.com/questions/19324453/add-missing-dates-to-pandas-dataframe

In [ ]:
# TODO
# have to build a function to preprocess df_128_24_5 
# have to complete index date_range then reassemble the dataframe to include all dates including missing dates
# then have to change OBSERVATION_TIME to np.nan (NaT) whenever the flag columns have a value of 1
# then consecutive_3_days function needs to run for anything less than 73 of nan's in the OBSERVATION_TIME Column

# WHERE YOU LEFT OFF
# you are building the function with df_128_24_5 in mind, the cell 2 below (1 below df_128_24_5.head())
# this needs to be turned into a function which also converts the flags to np.nans

## Testing: please delete when finished

In [17]:
# testing ValueError: cannot reindex from a duplicate axis
# ---> 10     df_reidx = df.reindex(idx, fill_value=np.nan)
"""
\pandas\core\indexes\base.py in _can_reindex(self, indexer)
   3287         # trying to reindex on an axis with duplicates
   3288         if not self.is_unique and len(indexer):
-> 3289             raise ValueError("cannot reindex from a duplicate axis")
"""


# Testing results: issue is because of duplicate DateTime values in index, previously this was not an issue because
# we were only dealing with one station, but with plurality of stations have to find a workaround that is robust/efficient
df_all.OBSERVATION_TIME.isnull().sum()

0

In [18]:
idx = pd.date_range(df_all.OBSERVATION_TIME.min(), 
                  df_all.OBSERVATION_TIME.max(), freq="H", tz='UTC')

In [20]:
df_all.head()

,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,year,month,day,hour
0,110,2002-04-16 19:00:00+00:00,35.45,75.40,78.70,81.00,83.00,84.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002,4,16,19
1,110,2002-04-16 20:00:00+00:00,34.99,33.32,49.20,58.37,63.12,66.61,69.47,71.70,73.60,75.10,76.20,NaN,NaN,NaN,NaN,NaN,NaN,2002,4,16,20
2,110,2002-04-16 21:00:00+00:00,36.09,53.76,62.26,67.21,71.20,73.70,75.70,77.30,78.90,79.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002,4,16,21
3,110,2002-04-16 22:00:00+00:00,36.38,39.76,30.97,30.90,30.55,30.41,30.41,30.48,30.69,31.59,31.86,32.21,32.41,32.61,33.02,33.69,34.02,2002,4,16,22
4,110,2002-04-16 23:00:00+00:00,37.47,42.89,30.98,30.90,30.62,30.41,30.34,30.41,30.69,31.53,31.87,32.21,32.34,32.69,33.02,33.62,34.02,2002,4,16,23

In [21]:
df_all.index = pd.DatetimeIndex(df_all.OBSERVATION_TIME)

In [22]:
df_all.head()

,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,year,month,day,hour
OBSERVATION_TIME,,,,,,,,,,,,,,,,,,,,,,,
2002-04-16 19:00:00+00:00,110,2002-04-16 19:00:00+00:00,35.45,75.40,78.70,81.00,83.00,84.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002,4,16,19
2002-04-16 20:00:00+00:00,110,2002-04-16 20:00:00+00:00,34.99,33.32,49.20,58.37,63.12,66.61,69.47,71.70,73.60,75.10,76.20,NaN,NaN,NaN,NaN,NaN,NaN,2002,4,16,20
2002-04-16 21:00:00+00:00,110,2002-04-16 21:00:00+00:00,36.09,53.76,62.26,67.21,71.20,73.70,75.70,77.30,78.90,79.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002,4,16,21
2002-04-16 22:00:00+00:00,110,2002-04-16 22:00:00+00:00,36.38,39.76,30.97,30.90,30.55,30.41,30.41,30.48,30.69,31.59,31.86,32.21,32.41,32.61,33.02,33.69,34.02,2002,4,16,22
2002-04-16 23:00:00+00:00,110,2002-04-16 23:00:00+00:00,37.47,42.89,30.98,30.90,30.62,30.41,30.34,30.41,30.69,31.53,31.87,32.21,32.34,32.69,33.02,33.62,34.02,2002,4,16,23

In [23]:
# will throw ValueError for duplicate values in index
df_reidx = df_all.reindex(idx, fill_value=np.nan)

ValueError: cannot reindex from a duplicate axis

## working solution process

In [28]:
holding_df = pd.DataFrame()

In [29]:
holding_df

Empty DataFrame
Columns: []
Index: []

In [97]:
temp_df = df_all[df_all.SITE_NUMBER=='101'].reset_index(drop=True)

In [98]:
idx = pd.date_range(temp_df.OBSERVATION_TIME.min(), 
                  temp_df.OBSERVATION_TIME.max(), freq="H", tz='UTC')

In [99]:
temp_df.head()

,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,year,month,day,hour
0,101,2007-03-27 01:00:00+00:00,23.72,10.58,9.68,8.42,7.88,7.88,8.42,9.86,11.12,12.38,13.10,14.0,14.54,15.44,16.52,17.42,18.14,2007,3,27,1
1,101,2007-03-27 02:00:00+00:00,23.90,10.58,9.86,8.96,8.24,8.24,8.42,10.04,11.12,12.38,13.28,14.0,14.72,15.62,16.52,17.60,18.32,2007,3,27,2
2,101,2007-03-27 03:00:00+00:00,19.94,9.86,9.68,9.14,8.60,8.42,8.78,9.86,10.94,12.20,13.10,14.0,14.72,15.44,16.52,17.42,18.14,2007,3,27,3
3,101,2007-03-27 04:00:00+00:00,10.58,8.96,8.96,9.14,8.96,8.78,8.96,9.86,10.94,12.20,13.10,14.0,14.72,15.62,16.52,17.42,18.32,2007,3,27,4
4,101,2007-03-27 05:00:00+00:00,6.62,8.06,8.24,8.78,8.96,NaN,8.96,9.86,10.94,12.20,13.10,14.0,14.72,15.62,16.52,17.42,18.32,2007,3,27,5

In [100]:
temp_df.index = pd.DatetimeIndex(temp_df.OBSERVATION_TIME, name='OBSERVATION_TIME_Index')

In [101]:
temp_df.head()

,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,year,month,day,hour
OBSERVATION_TIME_Index,,,,,,,,,,,,,,,,,,,,,,,
2007-03-27 01:00:00+00:00,101,2007-03-27 01:00:00+00:00,23.72,10.58,9.68,8.42,7.88,7.88,8.42,9.86,11.12,12.38,13.10,14.0,14.54,15.44,16.52,17.42,18.14,2007,3,27,1
2007-03-27 02:00:00+00:00,101,2007-03-27 02:00:00+00:00,23.90,10.58,9.86,8.96,8.24,8.24,8.42,10.04,11.12,12.38,13.28,14.0,14.72,15.62,16.52,17.60,18.32,2007,3,27,2
2007-03-27 03:00:00+00:00,101,2007-03-27 03:00:00+00:00,19.94,9.86,9.68,9.14,8.60,8.42,8.78,9.86,10.94,12.20,13.10,14.0,14.72,15.44,16.52,17.42,18.14,2007,3,27,3
2007-03-27 04:00:00+00:00,101,2007-03-27 04:00:00+00:00,10.58,8.96,8.96,9.14,8.96,8.78,8.96,9.86,10.94,12.20,13.10,14.0,14.72,15.62,16.52,17.42,18.32,2007,3,27,4
2007-03-27 05:00:00+00:00,101,2007-03-27 05:00:00+00:00,6.62,8.06,8.24,8.78,8.96,NaN,8.96,9.86,10.94,12.20,13.10,14.0,14.72,15.62,16.52,17.42,18.32,2007,3,27,5

In [102]:
temp_df.shape[0]

73870

In [103]:
temp_df = temp_df.reindex(idx, fill_value=None)

In [104]:
temp_df.shape[0]

94391

In [105]:
temp_df.head()

,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,year,month,day,hour
2007-03-27 01:00:00+00:00,101,2007-03-27 01:00:00+00:00,23.72,10.58,9.68,8.42,7.88,7.88,8.42,9.86,11.12,12.38,13.10,14.0,14.54,15.44,16.52,17.42,18.14,2007.0,3.0,27.0,1.0
2007-03-27 02:00:00+00:00,101,2007-03-27 02:00:00+00:00,23.90,10.58,9.86,8.96,8.24,8.24,8.42,10.04,11.12,12.38,13.28,14.0,14.72,15.62,16.52,17.60,18.32,2007.0,3.0,27.0,2.0
2007-03-27 03:00:00+00:00,101,2007-03-27 03:00:00+00:00,19.94,9.86,9.68,9.14,8.60,8.42,8.78,9.86,10.94,12.20,13.10,14.0,14.72,15.44,16.52,17.42,18.14,2007.0,3.0,27.0,3.0
2007-03-27 04:00:00+00:00,101,2007-03-27 04:00:00+00:00,10.58,8.96,8.96,9.14,8.96,8.78,8.96,9.86,10.94,12.20,13.10,14.0,14.72,15.62,16.52,17.42,18.32,2007.0,3.0,27.0,4.0
2007-03-27 05:00:00+00:00,101,2007-03-27 05:00:00+00:00,6.62,8.06,8.24,8.78,8.96,NaN,8.96,9.86,10.94,12.20,13.10,14.0,14.72,15.62,16.52,17.42,18.32,2007.0,3.0,27.0,5.0

In [106]:
temp_df['OBSERVATION_TIME'] = temp_df.index

In [107]:
temp_df.head()

,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,year,month,day,hour
2007-03-27 01:00:00+00:00,101,2007-03-27 01:00:00+00:00,23.72,10.58,9.68,8.42,7.88,7.88,8.42,9.86,11.12,12.38,13.10,14.0,14.54,15.44,16.52,17.42,18.14,2007.0,3.0,27.0,1.0
2007-03-27 02:00:00+00:00,101,2007-03-27 02:00:00+00:00,23.90,10.58,9.86,8.96,8.24,8.24,8.42,10.04,11.12,12.38,13.28,14.0,14.72,15.62,16.52,17.60,18.32,2007.0,3.0,27.0,2.0
2007-03-27 03:00:00+00:00,101,2007-03-27 03:00:00+00:00,19.94,9.86,9.68,9.14,8.60,8.42,8.78,9.86,10.94,12.20,13.10,14.0,14.72,15.44,16.52,17.42,18.14,2007.0,3.0,27.0,3.0
2007-03-27 04:00:00+00:00,101,2007-03-27 04:00:00+00:00,10.58,8.96,8.96,9.14,8.96,8.78,8.96,9.86,10.94,12.20,13.10,14.0,14.72,15.62,16.52,17.42,18.32,2007.0,3.0,27.0,4.0
2007-03-27 05:00:00+00:00,101,2007-03-27 05:00:00+00:00,6.62,8.06,8.24,8.78,8.96,NaN,8.96,9.86,10.94,12.20,13.10,14.0,14.72,15.62,16.52,17.42,18.32,2007.0,3.0,27.0,5.0

In [108]:
temp_df['OBSERVATION_TIME'].isnull().sum()

0

In [109]:
temp_df.SITE_NUMBER.unique()

array(['101', nan], dtype=object)

In [110]:
for site, val in enumerate(temp_df.SITE_NUMBER.unique()):
    if type(val)==str:
        temp_df.SITE_NUMBER = temp_df.SITE_NUMBER.fillna(val)

In [111]:
temp_df.head()

,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,year,month,day,hour
2007-03-27 01:00:00+00:00,101,2007-03-27 01:00:00+00:00,23.72,10.58,9.68,8.42,7.88,7.88,8.42,9.86,11.12,12.38,13.10,14.0,14.54,15.44,16.52,17.42,18.14,2007.0,3.0,27.0,1.0
2007-03-27 02:00:00+00:00,101,2007-03-27 02:00:00+00:00,23.90,10.58,9.86,8.96,8.24,8.24,8.42,10.04,11.12,12.38,13.28,14.0,14.72,15.62,16.52,17.60,18.32,2007.0,3.0,27.0,2.0
2007-03-27 03:00:00+00:00,101,2007-03-27 03:00:00+00:00,19.94,9.86,9.68,9.14,8.60,8.42,8.78,9.86,10.94,12.20,13.10,14.0,14.72,15.44,16.52,17.42,18.14,2007.0,3.0,27.0,3.0
2007-03-27 04:00:00+00:00,101,2007-03-27 04:00:00+00:00,10.58,8.96,8.96,9.14,8.96,8.78,8.96,9.86,10.94,12.20,13.10,14.0,14.72,15.62,16.52,17.42,18.32,2007.0,3.0,27.0,4.0
2007-03-27 05:00:00+00:00,101,2007-03-27 05:00:00+00:00,6.62,8.06,8.24,8.78,8.96,NaN,8.96,9.86,10.94,12.20,13.10,14.0,14.72,15.62,16.52,17.42,18.32,2007.0,3.0,27.0,5.0

In [112]:
temp_df.SITE_NUMBER.unique()

array(['101'], dtype=object)

In [113]:
temp_df = temp_df.reset_index(drop=True)

In [114]:
temp_df.head()

,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,year,month,day,hour
0,101,2007-03-27 01:00:00+00:00,23.72,10.58,9.68,8.42,7.88,7.88,8.42,9.86,11.12,12.38,13.10,14.0,14.54,15.44,16.52,17.42,18.14,2007.0,3.0,27.0,1.0
1,101,2007-03-27 02:00:00+00:00,23.90,10.58,9.86,8.96,8.24,8.24,8.42,10.04,11.12,12.38,13.28,14.0,14.72,15.62,16.52,17.60,18.32,2007.0,3.0,27.0,2.0
2,101,2007-03-27 03:00:00+00:00,19.94,9.86,9.68,9.14,8.60,8.42,8.78,9.86,10.94,12.20,13.10,14.0,14.72,15.44,16.52,17.42,18.14,2007.0,3.0,27.0,3.0
3,101,2007-03-27 04:00:00+00:00,10.58,8.96,8.96,9.14,8.96,8.78,8.96,9.86,10.94,12.20,13.10,14.0,14.72,15.62,16.52,17.42,18.32,2007.0,3.0,27.0,4.0
4,101,2007-03-27 05:00:00+00:00,6.62,8.06,8.24,8.78,8.96,NaN,8.96,9.86,10.94,12.20,13.10,14.0,14.72,15.62,16.52,17.42,18.32,2007.0,3.0,27.0,5.0

### Potential workaround

In [115]:
def index_entire_calendar_all_stations(df):
    for site in df.SITE_NUMBER.unique()[:5]:
        temp_df = df[df.SITE_NUMBER==site]
        
        idx = pd.date_range(temp_df.OBSERVATION_TIME.min(), 
                      temp_df.OBSERVATION_TIME.max(), freq="H", tz='UTC')
        
        temp_df.index = pd.DatetimeIndex(temp_df.OBSERVATION_TIME, name='OBSERVATION_TIME_Index')
        
        temp_df = temp_df.reindex(idx, fill_value=None)
        
        temp_df['OBSERVATION_TIME'] = temp_df.index
        
        for site, val in enumerate(temp_df.SITE_NUMBER.unique()):
            if type(val)==str:
                temp_df.SITE_NUMBER = temp_df.SITE_NUMBER.fillna(val)
            
        temp_df = temp_df.reset_index(drop=True)
        
        holding_df = pd.concat([holding_df, temp_df], axis=0)
        
        return holding_df

In [121]:
holding_df.head()

,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,year,month,day,hour
0,110,2002-04-16 19:00:00+00:00,35.45,75.40,78.70,81.00,83.00,84.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002.0,4.0,16.0,19.0
1,110,2002-04-16 20:00:00+00:00,34.99,33.32,49.20,58.37,63.12,66.61,69.47,71.70,73.60,75.10,76.20,NaN,NaN,NaN,NaN,NaN,NaN,2002.0,4.0,16.0,20.0
2,110,2002-04-16 21:00:00+00:00,36.09,53.76,62.26,67.21,71.20,73.70,75.70,77.30,78.90,79.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002.0,4.0,16.0,21.0
3,110,2002-04-16 22:00:00+00:00,36.38,39.76,30.97,30.90,30.55,30.41,30.41,30.48,30.69,31.59,31.86,32.21,32.41,32.61,33.02,33.69,34.02,2002.0,4.0,16.0,22.0
4,110,2002-04-16 23:00:00+00:00,37.47,42.89,30.98,30.90,30.62,30.41,30.34,30.41,30.69,31.53,31.87,32.21,32.34,32.69,33.02,33.62,34.02,2002.0,4.0,16.0,23.0

In [122]:
holding_df.SITE_NUMBER.unique()

array(['110', '109', '118', '131', '113'], dtype=object)

In [123]:
df_all_reindex_test = index_entire_calendar_all_stations(df_all)

,SITE_NUMBER,OBSERVATION_TIME,AMBIENT_AIR_TEMP,TMR_PAV,TMR_SUB_0,TMR_SUB_3,TMR_SUB_6,TMR_SUB_9,TMR_SUB_12,TMR_SUB_18,TMR_SUB_24,TMR_SUB_30,TMR_SUB_36,TMR_SUB_42,TMR_SUB_48,TMR_SUB_54,TMR_SUB_60,TMR_SUB_66,TMR_SUB_72,year,month,day,hour
OBSERVATION_TIME,,,,,,,,,,,,,,,,,,,,,,,
2002-04-16 19:00:00+00:00,110,2002-04-16 19:00:00+00:00,35.45,75.40,78.70,81.00,83.00,84.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002,4,16,19
2002-04-16 20:00:00+00:00,110,2002-04-16 20:00:00+00:00,34.99,33.32,49.20,58.37,63.12,66.61,69.47,71.70,73.60,75.10,76.20,NaN,NaN,NaN,NaN,NaN,NaN,2002,4,16,20
2002-04-16 21:00:00+00:00,110,2002-04-16 21:00:00+00:00,36.09,53.76,62.26,67.21,71.20,73.70,75.70,77.30,78.90,79.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002,4,16,21
2002-04-16 22:00:00+00:00,110,2002-04-16 22:00:00+00:00,36.38,39.76,30.97,30.90,30.55,30.41,30.41,30.48,30.69,31.59,31.86,32.21,32.41,32.61,33.02,33.69,34.02,2002,4,16,22
2002-04-16 23:00:00+00:00,110,2002-04-16 23:00:00+00:00,37.47,42.89,30.98,30.90,30.62,30.41,30.34,30.41,30.69,31.53,31.87,32.21,32.34,32.69,33.02,33.62,34.02,2002,4,16,23

## Testing end

In [7]:
def index_entire_calendar(df):
    
    print(df.OBSERVATION_TIME.isnull().sum())
    
    idx = pd.date_range(df.OBSERVATION_TIME.min(), 
                  df.OBSERVATION_TIME.max(), freq="H", tz='UTC')
    
    df.index = pd.DatetimeIndex(df.OBSERVATION_TIME)
    
    df_reidx = df.reindex(idx, fill_value=np.nan)
    
    # df_reidx[['year','month','day','hour']] = df_reidx[['year','month','day','hour']].fillna(-1)
    
    """convert_dict = {'year': int, 
                'month': int,
                'day': int,
                'hour': int,
               } """
    
    df_reidx.year = df_reidx.year.astype('Int64')
    df_reidx.month = df_reidx.month.astype('Int64')
    df_reidx.day = df_reidx.day.astype('Int64')
    df_reidx.hour = df_reidx.hour.astype('Int64')
    
    df_reidx.loc[df_reidx.year==-1, ['year','month','day','hour']] = None
    
    print(df_reidx.OBSERVATION_TIME.isnull().sum())
    
    return df_reidx

In [7]:
df_reindex = index_entire_calendar(df)

0
20193

In [11]:
df_all.loc[df_all.year==-1].count()

SITE_NUMBER         0
OBSERVATION_TIME    0
AMBIENT_AIR_TEMP    0
TMR_PAV             0
TMR_SUB_0           0
TMR_SUB_3           0
TMR_SUB_6           0
TMR_SUB_9           0
TMR_SUB_12          0
TMR_SUB_18          0
TMR_SUB_24          0
TMR_SUB_30          0
TMR_SUB_36          0
TMR_SUB_42          0
TMR_SUB_48          0
TMR_SUB_54          0
TMR_SUB_60          0
TMR_SUB_66          0
TMR_SUB_72          0
year                0
month               0
day                 0
hour                0
dtype: int64

In [8]:
df_all_reindex = index_entire_calendar(df_all)

0

ValueError: cannot reindex from a duplicate axis

In [ ]:
df_reindex.loc[(df_reindex.index > '2004-06-24 17:00:00+00:00')& 
              (df_reindex.index < '2004-06-29 16:00:00+00:00' )]

In [9]:
df_reindex.loc[(df_reindex.index > '2004-06-25 17:00:00+00:00')& 
              (df_reindex.index < '2004-06-28 16:00:00+00:00' )].shape

(70, 23)

In [ ]:
df_reindex.loc[df_reindex.OBSERVATION_TIME.isna()].head()

In [ ]:
df_reindex.loc[(df_reindex.index > '2003-10-02 15:00:00+00:00')& 
              (df_reindex.index < '2003-10-02 20:00:00+00:00' )]

# Less Than 24 Hours

In [ ]:
datetime_less_list = df_reindex.groupby(df_reindex.OBSERVATION_TIME.dt.date)['OBSERVATION_TIME'].count()<24

datetime_less_list = datetime_less_list.loc[datetime_less_list==True]

# df_reindex.resample('D', on='OBSERVATION_TIME').count()

df_reindex.loc[df_reindex.OBSERVATION_TIME.dt.date.isin(datetime_less_list.index), 'hours_flag'] = 1

In [ ]:
df_reindex.head(30)

In [10]:
def less_than_24_hours(df):
    
    """
    this function determines if there is are less than 24 hours in a day of a month/year groupby object,
    then creates a hour_flag column and identifies it as flagged with a "1" value.
    
    This function involves groupby objects, masking, reindexing, and returns a new DataFrame.
    
    Argument:
    df: DataFrame with OBSERVATION_TIME, year, month, day columns
    
    Output:
    df_new: New DataFrame with similar design as original, but with addition of hours_flag column
    
    """
    print(df.OBSERVATION_TIME.isnull().sum())
    print(df.shape)
    
    datetime_less_list = df.groupby(df.OBSERVATION_TIME.dt.date)['OBSERVATION_TIME'].count()<24

    datetime_less_list = datetime_less_list.loc[datetime_less_list==True]
    
    df['hours_flag'] = 0
    
    df.loc[df.OBSERVATION_TIME.dt.date.isin(datetime_less_list.index), 'hours_flag'] = 1
    
    # df_index.loc[less_list,'OBSERVATION_TIME'] = np.nan # need to keep value until later
    
    print(df.OBSERVATION_TIME.isnull().sum())
    
    print(df.shape)
    
    return df

In [11]:
df_24 = less_than_24_hours(df_reindex)

20193
(130774, 23)
20193
(130774, 24)

In [ ]:
df_24.hours_flag.value_counts()

In [ ]:
df_24.isnull().sum()

In [ ]:
df_24.loc[(df_24.index > '2004-06-25 17:00:00+00:00')& 
              (df_24.index < '2004-06-29 00:00:00+00:00' )]

# 5 or more days total missing function

In [12]:
## Calendar Builder
## throws a warning about truth ambiguous for empty array. i believe it's for months that don't exist in the data.
## will need to develop logic for [arrray.size > 0] to avoid generating a future error. 

def more_than_5_total(df):
    
    days_month = df.groupby(['year','month'])['day'].nunique().reset_index()
   
    df['days_5_total_flag'] = 0
    # get the values used to created calendar
    days_arrays = days_month[['year', 'month']]
    
    # for loop to create calendar for use with calendar.monthlen
    for years in range(len(days_arrays.year.unique())):
        # print(days_arrays.loc[years, 'year'])
        yy = days_arrays.loc[days_arrays.year==days_arrays.year.unique()[years], 'year'].min()
        # print(yy)
        for months in range(len(days_arrays.month.unique())):
            # print(days_arrays.loc[months, 'month'])
            mm = days_arrays.loc[months, 'month'].max()
            # print(mm)
            # print(days_arrays.monthlen(yy,mm)-5)
            if (days_month.loc[(days_month['month']==mm) & (days_month['year']==yy)]['day'].values) > (calendar.monthlen(yy,mm)-5):
                # print("good")
                df.loc[(df.month==mm) & (df.year==yy), 'days_5_total_flag'] = 0
            else:
                df.loc[(df.month==mm) & (df.year==yy), 'days_5_total_flag'] = 1
                # df.loc[(df.month==mm) & (df.year==yy), 'OBSERVATION_TIME'] = np.nan
    
    return df

In [13]:
df_24_5 = more_than_5_total(df_24)

C:\Users\ejmason\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:23: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.

In [14]:
df_24_5.days_5_total_flag.value_counts()

0    128974
1      1800
Name: days_5_total_flag, dtype: int64

## Observation Time Nulls

This next part is necessary for the consecutive 3 days function

In [15]:
df_24_5.OBSERVATION_TIME.isnull().sum()

20193

In [16]:
df_24_5.loc[(df_24_5.index > '2004-06-25 16:00:00+00:00')
            & (df_24_5.index < '2004-06-28 17:00:00+00:00')].shape

(72, 25)

In [17]:
df_24_5.loc[(df_24_5.index > '2004-06-25 16:00:00+00:00')
            & (df_24_5.index < '2004-06-28 17:00:00+00:00')]['OBSERVATION_TIME'].isna().sum()

72

In [18]:
df_24_5.loc[(df_24_5.hours_flag==1) | (df_24_5.days_5_total_flag==1), 'OBSERVATION_TIME'] = np.nan

In [19]:
df_24_5.OBSERVATION_TIME.isnull().sum()

23254

In [24]:
def consecutive_3_days(df, sort_by_time=False):
    """
    Function takes a dataframe and looks for consecutive flagged days by using a mask, ne(), shift(), and cumsum()
    the mask is made from non-flagged values ("O") in the "days_5_total_flag" column.
    Then used the ne() function to generate boolean values based on inequality between the following row (with shift()).
    It keeps a running count using cumsum().
    This sum of changes in the Boolean values is then grouped and filtered with transform for anything less than 3
    OR in the mask of non-flagged values.
    Records that groups of more than 3 and not in the mask are filtered out and not in the new Dataframe
    this function is preceded by the "more_than_5_total" function as it requires "days_5_total_flag" column.
    
    Arguments:
    df: DataFrame with a days_5_total_flag column
    
    Output:
    df: New DataFrame without the filtered values 
    """
    
    # pass argument to sort or pass through
    if sort_by_time is True:
        
        df = df.sort_values('OBSERVATION_TIME').copy() # dataframe must be sorted to perform
        
    print(df.shape)
    # creates a mask of non-flagged values (any row that doesn't have a 1 in the days_5_total_flag column)
    mask_zero = df.OBSERVATION_TIME.notna()
    
    # this uses the mask, and searches for a "NOT EQUAL" (ne) value below it using shift() which produces a boolean
    shift_sum = mask_zero.ne(mask_zero.shift()).cumsum() # everytime there is a difference in boolean value, it increments the count.
    
    # Filters the dataframe but grouping the cumulitve sum in "a" and getting the size.
    # if the size of a "False" group is less than 3 OR listed in mask variable, it remains and is turned into new DF
    df_exclude = df[(shift_sum.groupby(shift_sum.values).transform('size') >= 72) & ~mask_zero]
    
    df_exclude['dt_index'] = pd.DatetimeIndex(df_exclude.index)
    
    df['dt_index'] = pd.DatetimeIndex(df.index)
    
    df_drop = df.loc[~df.dt_index.dt.strftime('%Y-%m').isin(df_exclude.dt_index.dt.strftime('%Y-%m').values)]
    
    df_drop = df_drop.dropna(subset=['OBSERVATION_TIME'], axis=0)
    
    print(df_drop.shape)
    
    return df_drop

In [25]:
df_all_rules = consecutive_3_days(df_24_5)

(130774, 26)

C:\Users\ejmason\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(99768, 26)

In [32]:
df_all_rules.isnull().sum()

SITE_NUMBER             0
OBSERVATION_TIME        0
AMBIENT_AIR_TEMP     1952
TMR_PAV              3448
TMR_SUB_0              36
TMR_SUB_3              94
TMR_SUB_6             132
TMR_SUB_9             164
TMR_SUB_12            124
TMR_SUB_18            112
TMR_SUB_24            120
TMR_SUB_30             96
TMR_SUB_36            108
TMR_SUB_42             83
TMR_SUB_48             26
TMR_SUB_54             23
TMR_SUB_60             91
TMR_SUB_66            136
TMR_SUB_72              1
year                    0
month                   0
day                     0
hour                    0
hours_flag              0
days_5_total_flag       0
dt_index                0
dtype: int64

In [ ]:
df.dropna(subset=['TMR_SUB_0', 'TMR_SUB_3', 'TMR_SUB_6', 'TMR_SUB_9', 'TMR_SUB_12',
       'TMR_SUB_18', 'TMR_SUB_24', 'TMR_SUB_30', 'TMR_SUB_36', 'TMR_SUB_42',
       'TMR_SUB_48', 'TMR_SUB_54', 'TMR_SUB_60', 'TMR_SUB_66', 'TMR_SUB_72'], inplace=True, axis=0)

In [ ]:
df_all_rules.groupby(['year','month'])['day'].unique()

In [31]:
df_all_rules.groupby(['year','month'])['day'].nunique()

year  month
2003  2        28
      3        31
      4        30
      5        31
      6        29
      7        31
      8        31
      9        30
      10       28
      11       30
      12       31
2004  1        31
      3        31
      4        29
      5        31
      7        31
      8        31
      9        29
      10       31
      11       28
      12       31
2005  1        31
      2        28
      3        31
      6        28
      7        31
      8        31
      9        30
      10       31
      11       29
2006  2        28
      3        30
      4        29
      5        30
      6        29
      7        31
      8        31
      9        30
      10       28
      11       30
      12       28
2007  1        31
      2        28
      3        31
      4        30
      5        31
      6        30
      7        31
      8        31
      9        29
      10       30
      11       29
      12       29
2009  1        29
      2        28
      3        31
      4        30
      5        30
      6        30
      7        31
      8        31
      9        30
      10       30
2010  1        31
      2        28
      3        31
      4        29
      5        31
      6        30
      7        31
      10       31
      11       30
2012  3        31
      4        30
      5        31
      6        30
      7        31
      8        31
      9        29
      10       31
      11       30
      12       31
2013  1        31
      2        28
      3        31
      4        30
      5        31
      6        30
      7        30
      8        31
      9        30
      10       31
      11       29
      12       31
2014  1        31
      2        28
      3        31
      4        30
      5        31
      6        30
      7        31
      8        31
      9        30
      10       31
      11       30
      12       31
2015  1        31
      2        28
      3        31
      4        30
      5        31
      6        29
      8        31
      9        30
      10       31
2016  2        28
      3        31
      4        30
      5        31
      6        30
      7        31
      8        29
      9        30
      10       31
      11       30
      12       30
2017  1        31
      2        28
      3        31
      4        30
      5        31
      6        30
      7        31
      8        29
      9        30
      10       31
      11       29
      12       31
Name: day, dtype: int64

In [33]:
df_all_rules_group = df_all_rules.groupby(['SITE_NUMBER','year','month']).mean().reset_index()

In [ ]:
df_all_rules_group

In [37]:
df_all_rules_group.pivot(index='year', columns=['month'], values='TMR_SUB_18').style.highlight_max(axis=0, color='red').highlight_min(axis=0, color='cyan')

# Save DataFrame Object

In [39]:
# filename = "df_128_all_18.pkl"
filename = "df_all_rules.pkl"
df_all_rules.to_pickle(filename)

In [2]:
# data_test = pd.read_pickle("df_all_rules.pkl")

# Additional Testing

In [ ]:
checker_df = df_all_rules_drop.loc[(df_all_rules_drop.index >= '2015-08-01 00:00:00+00:00')
            & (df_all_rules_drop.index < '2015-11-01 00:00:00+00:00')]

In [ ]:
checker_df2 = df_all_rules_drop.loc[(df_all_rules_drop.index >= '2014-08-01 00:00:00+00:00')
            & (df_all_rules_drop.index < '2014-11-01 00:00:00+00:00')]

In [ ]:
checker_df.groupby(['year','month','day']).count()

In [ ]:
checker_df.tail()

In [ ]:
checker_df2.tail()

In [ ]:
checker_df.TMR_SUB_18==checker_df2.TMR_SUB_18

In [ ]:
df_exclude.loc[(df_exclude.index > '2005-05-01 00:00:00+00:00')
            & (df_exclude.index < '2005-06-01 00:00:00+00:00')].head(100)

In [ ]:
df_24_5_copy = df_24_5.copy()

In [ ]:
df_24_5_copy['dt_month'] = pd.DatetimeIndex(df_24_5_copy.index).month

In [ ]:
df_24_5_copy['dt_year'] = pd.DatetimeIndex(df_24_5_copy.index).year

In [ ]:
df.groupby(df.OBSERVATION_TIME.dt.date).head()

In [ ]:
df_clear.shape

In [ ]:
df_24_5_copy.head()

In [ ]:
df_24_5.loc[df_24_5.index]

In [ ]:
df = consecutive_3_days(df_24_5)

In [ ]:
df.hours_flag.value_counts()